# **Assignment 7**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

### Describing Dataset

This is an Airbnb listing dataset. This dataset is acquired from the Airbnb website. It has details about the host, location, type of listing, and reviews, along with more interesting features in different columns. It consists of (18337, 18) rows and columns and needs thorough data cleaning. The analysis will provide interesting insights and guidelines on choosing Airbnb for your next vacation trip.

id                                float64            Airbnb's unique identifier for the host/user
name                               object            The name of the listing
host_id                             int64            unique identifier for the host
host_name                          object            Name of the host
neighbourhood_group               float64            next town zipcode
neighbourhood                       int64            Field that can be filled using the lat & Long
latitude                          float64            latitude
longitude                         float64            longitude
room_type                          object            type of rental space
price                               int64            price
minimum_nights                      int64            minimum nights available
number_of_reviews                   int64            count of reviews
last_review                        object            date of last review
reviews_per_month                 float64            per month reviews
calculated_host_listings_count      int64            total host's listing count
availability_365                    int64            Availibility for the number of days
number_of_reviews_ltm               int64            Count of reviews in last 12 months
license                                              license or permit for listing

### Data Source Link

Data Source: http://insideairbnb.com/get-the-data/
Data Dictionary: https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=1322284596

### Justification for Dataset Selection

Whenever it comes to traveling, there is always a search for a good rating Airbnb listing. There are many important factors that need to consider. For example, the room type, comfort rating, activity, top hosts, rent, and many others. And paying close attention to your selection adds a lot to the enjoyment of the trip. For this reason, I decided to choose the Airbnb dataset.


# Data Exploration (EDA)
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

### Importing Libraries

#### The first step is to import Pandas and NumPy libraries for data exploration, cleaning and manipulation.

In [ ]:
import numpy as np
import pandas as pd
import datetime
#import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import warnings
warnings.filterwarnings('ignore')

Importing CSV data file into pandas dataframe

Defining the path for reading the CSV file. 

Using Pandas "read_csv" function to read the file into Pandas dataframe.

And by passing the limit to view 5 row in the "head() function.

Similarly, viewing the last 5 rows using the "tail()" function.

In [ ]:
csv_path = 'resources/austin_tx_airbnb.csv'
airbnb_df = pd.read_csv(csv_path, encoding="utf-8")
airbnb_df.head(5)

In [ ]:
airbnb_df.tail(5)

Now previewing the data by calling the dataframe "cars_df" using "info()" function and finding the number of cloumns and rows.

This function provides the total number of rows and columns as well as the datatype of each column. 

Also, we are able to see the count of non-null values, which will help us further investigate the missing, or unexpected values in our dataset.

In [ ]:
airbnb_df.info()

The "shape" method provide the row and column count.

In [ ]:
airbnb_df.shape

Checking the datatype of columns

In [ ]:
airbnb_df.dtypes

Finding the null values in the dataset

In [ ]:
for column in airbnb_df.columns:
    print(f"Column {column} has {airbnb_df[column].isnull().sum()} null values")

Finding the missing values in the dataset

In [ ]:
# Function checking for missing values
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [ ]:
missing_values_table(airbnb_df)

 What we found:
 
 "neighbourhood_group" and "license" column has all missing values so we will drop these columns. 
 
 The value_counts() funtion helps in finding the count of values that appear in a column. To further investigate columns "last_review", "reviews_per_month", and "host_name", we will apply this function.

In [ ]:
airbnb_df['last_review'].value_counts()

In [ ]:
airbnb_df['last_review'].values.tolist()

In [ ]:
airbnb_df['reviews_per_month'].value_counts()

In [ ]:
airbnb_df['host_name'].value_counts()

Finding the value count of all columns to find the length and breakdown count of each column values

In [ ]:
for c in airbnb_df.columns:
    print("---- %s ---" % c)
    print(airbnb_df[c].value_counts())

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

### Create a subset of your original data and perform the following:

In [ ]:
new_df = airbnb_df.iloc[0:18330]

Check the count of row and column after subsetting

In [ ]:
new_df.shape

### 1- Modify multiple column names.

In [ ]:
new_df.columns

In [ ]:
new_df.rename(columns = {'name':'specifications', 'calculated_host_listings_count':'listings_count', 'availability_365': 'availability_days'}, inplace = True)

# Check the name column names

In [ ]:
new_df.columns

### 2- Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

Convert the "last_review" column into correct date format.
Use pandas.to_datetime() to convert string to datetime format

In [ ]:
new_df['last_review'].values.tolist()

In [ ]:
new_df["last_review"] = pd.to_datetime(new_df["last_review"])

In [ ]:
new_df.head()

Check the format of 'Date' column

In [ ]:
new_df.info()

### 3- Fix missing and invalid values in data.

Removing the time from the "last_review" column.

In [ ]:
new_df['last_review'] = pd.to_datetime(new_df['last_review']).dt.date

Replace "host_name" with string "unknown" for NaN
Replace "last_review" with string "0000-00-00" for NaN

In [ ]:
new_df[['last_review']] = new_df[['last_review']].fillna('0000-00-00')

In [ ]:
new_df[['host_name']] = new_df[['host_name']].fillna('unknown')

In [ ]:
new_df.info()

Fill the missing values in the "reviews_per_month" with zeros then check the dataframe info()

In [ ]:
new_df['reviews_per_month'] = new_df['reviews_per_month'].fillna(0)

Check the "last_review" date column by missing value sum

In [ ]:
new_df['last_review'].isnull().sum()

In [ ]:
new_df.info()

### 4- Create new columns based on existing columns or calculations.

In [ ]:
new_df['monthly_reviews'] = new_df['reviews_per_month'].apply(np.ceil)

In [ ]:
new_df['monthly_reviews'] = new_df['monthly_reviews'].round(0).astype('int64')

Create a new column based on condition using list conprehension

In [ ]:
new_df['availibility_status'] = ["not_available" if x == 0 else "available" for x in new_df['availability_days']]

In [ ]:
new_df.info()

### 5- Drop column(s) from your dataset.

Now Dropping two columns with zero values

In [ ]:
new_df = new_df.drop(["neighbourhood_group", "license"], axis=1)

Now the count of columns changed

In [ ]:
new_df.columns

### 6- Drop a row(s) from your dataset.

In [ ]:
new_df.drop([0, 1])

In [ ]:
new_df.shape

### 7- Sort your data based on multiple variables.

Sorting two columns, 'id' and 'last_review' by ascending true

In [ ]:
new_df = new_df.sort_values(['id', 'last_review'],
              ascending = [True, True])

In [ ]:
new_df.head()

### 8- Filter your data based on some condition.

To filter for rows that contain a certain string in a pandas DataFrame

In [ ]:
filter_df = new_df[new_df["room_type"].str.contains("Entire home/apt")]
filter_df.head()

### 9- Convert all the string values to upper or lower cases in one column.

In [ ]:
filter_df['room_type'] = filter_df['room_type'].str.upper()
filter_df.head()

### 10- Check whether numeric values are present in a given column of your dataframe.

In [ ]:
# creating bool series with new column
filter_df['specifications_numeric'] = list(map(lambda x: x.isdigit(), filter_df['specifications']))
filter_df.head()

### 11- Group your dataset by one column, and get the mean, min, and max values by group.

In [ ]:
result_df = new_df.groupby('room_type').agg({'price': ['mean', 'min', 'max']})
  
print("Mean, min, and max values of room price are:")
print(result_df)

### 12- Group your dataset by two columns and then sort the aggregated results within the groups.

In [ ]:
df = new_df.groupby(['room_type'])['price'].mean().sort_values(ascending=False).head(2)
df

In [ ]:
# Function checking for missing values
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [ ]:
missing_values_table(new_df)

### Summary statistics means, medians, quartiles

In [ ]:
new_df.describe()

Remove the NaN from the Dataset
Remove duplicates if any

In [ ]:
new_df.isnull().sum()
new_df.dropna(how='any',inplace=True)
new_df.info()

In [ ]:
new_df.duplicated().sum()
new_df.drop_duplicates(inplace=True)
new_df

In [ ]:
help()

In [ ]:
# Generate a scatter plot 
room_type = new_df.iloc[:,7]
price = new_df.iloc[:,8]
plt.scatter(room_type,price)
plt.xticks(room_type)
plt.xlabel('room_type')
plt.ylabel('Price')
plt.show()

In [ ]:
# plotting a bar graph
new_df.plot(x="room_type", y="price", kind="bar")

In [ ]:
# plotting a pie chart
plt.pie(df["price"], labels=df["room_type"])
plt.show()

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?

This is an airbnb uncleaned dataset. After exploring this dataset, I found out that it has 18337 rows and 18 columns. These are following columns that has null values and two of which can be dropped because they are no values.

neighbourhood_group	18337	
license	18337	
last_review	3403	
reviews_per_month	3403	
host_name	119	


Mean, min, and max values of room price are:
                      price           
                       mean min    max
room_type                             
Entire home/apt  436.371825   1  23000
Hotel room       313.583333   0   3004
Private room     120.065430   5  10000
Shared room       67.165414  15    700

Entire room/Apt has the highest range of prices.

If I get more time to further explore this dataset, I will refine the values more to prepare it for uploading into the SQL database. I will perform more analysis using matplotlib and seaborn. And eventually apply machine learning algorithm.