# **Assignment 7**

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

### Describing Dataset

### Data Source Link

Data Source: http://insideairbnb.com/get-the-data/
Data Dictionary: https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=1322284596

### Justification for Dataset Selection

Whenever it comes to traveling, there is always a search for a good rating Airbnb listing. There are many important factors that need to consider. For example, the room type, comfort rating, activity, top hosts, rent, and many others. And paying close attention to your selection adds a lot to the enjoyment of the trip. For this reason, I decided to choose the Airbnb dataset.


# Data Exploration (EDA)
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

### Importing Libraries

#### The first step is to import Pandas and NumPy libraries for data exploration, cleaning and manipulation.

In [199]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import warnings
warnings.filterwarnings('ignore')

Importing CSV data file into pandas dataframe

Defining the path for reading the CSV file. 

Using Pandas "read_csv" function to read the file into Pandas dataframe.

And by passing the limit to view 5 row in the "head() function.

Similarly, viewing the last 5 rows using the "tail()" function.

In [200]:
csv_path = 'resources/austin_tx_airbnb.csv'
airbnb_df = pd.read_csv(csv_path, encoding="utf-8")
airbnb_df.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,319887.0,Quaint East Austin 2BR SXSW 2016,1640158,Jeremy,NaN,78702,30.25328,-97.72968,Entire home/apt,694,4,2,3/18/2015,0.02,1,0,0,NaN
1,319894.0,The Perfect Austin Modern Home,1640172,Gary,NaN,78724,30.28354,-97.64966,Entire home/apt,192,2,171,9/11/2022,1.34,2,156,36,NaN
2,46856014.0,"Electric Fireplace+Fire Pit, Lake Fishing + ka...",375760981,Niza,NaN,78611,30.80862,-98.37400,Entire home/apt,194,2,88,8/28/2022,4.17,1,342,47,NaN
3,5456.0,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,140,2,614,8/28/2022,3.73,1,311,43,NaN
4,321675.0,3/2 House w/ Pool in Barton Hills,1142525,James,NaN,78704,30.25104,-97.78973,Entire home/apt,500,1,13,10/4/2015,0.11,1,0,0,NaN

In [201]:
airbnb_df.tail(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
18332,19325414.0,Luxurious Marble Falls Condo - 1 bedroom/1bath...,100605868,Myka,NaN,78654,30.55294,-98.28544,Entire home/apt,129,2,16,8/24/2020,0.26,22,52,0,NaN
18333,14359515.0,"Marble Falls, TX, *2-Bedroom SN #1",10981379,NaN,NaN,78654,30.55161,-98.28574,Entire home/apt,273,1,17,8/16/2020,0.24,57,70,0,NaN
18334,19905275.0,Luxurious Marble Falls Condo -3bed/2bath,100605868,Myka,NaN,78654,30.55294,-98.28544,Entire home/apt,160,2,12,11/21/2018,0.20,22,73,0,NaN
18335,30589642.0,"Marble Falls, TX, *1-Bedroom Presidential Z #1",10981379,NaN,NaN,78654,30.55294,-98.28544,Entire home/apt,396,1,0,NaN,NaN,57,73,0,NaN
18336,19608834.0,Dog-Friendly Riverfront Cabin w/ Private Hot T...,1488733,Vacasa Texas,NaN,78676,29.97121,-98.12321,Entire home/apt,181,2,146,8/21/2022,2.33,26,357,19,NaN

Now previewing the data by calling the dataframe "cars_df" using "info()" function and finding the number of cloumns and rows.

This function provides the total number of rows and columns as well as the datatype of each column. 

Also, we are able to see the count of non-null values, which will help us further investigate the missing, or unexpected values in our dataset.

In [202]:
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18337 entries, 0 to 18336
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              18337 non-null  float64
 1   name                            18337 non-null  object
 2   host_id                         18337 non-null  int64
 3   host_name                       18218 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   18337 non-null  int64
 6   latitude                        18337 non-null  float64
 7   longitude                       18337 non-null  float64
 8   room_type                       18337 non-null  object
 9   price                           18337 non-null  int64
 10  minimum_nights                  18337 non-null  int64
 11  number_of_reviews               18337 non-null  int64
 12  last_review                     14934 non-null  object
 13  reviews_per_month               14934 non-null  float64
 14  calculated_host_listings_count  18337 non-null  int64
 15  availability_365                18337 non-null  int64
 16  number_of_reviews_ltm           18337 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(8), object(4)
memory usage: 2.5+ MB

The "shape" method provide the row and column count.

In [203]:
airbnb_df.shape

(18337, 18)

Checking the datatype of columns

In [204]:
airbnb_df.dtypes

id                                float64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                       int64
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                           float64
dtype: object

Finding the null values in the dataset

In [205]:
for column in airbnb_df.columns:
    print(f"Column {column} has {airbnb_df[column].isnull().sum()} null values")

Column id has 0 null values
Column name has 0 null values
Column host_id has 0 null values
Column host_name has 119 null values
Column neighbourhood_group has 18337 null values
Column neighbourhood has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column room_type has 0 null values
Column price has 0 null values
Column minimum_nights has 0 null values
Column number_of_reviews has 0 null values
Column last_review has 3403 null values
Column reviews_per_month has 3403 null values
Column calculated_host_listings_count has 0 null values
Column availability_365 has 0 null values
Column number_of_reviews_ltm has 0 null values
Column license has 18337 null values

Finding the missing values in the dataset

In [206]:
# Function checking for missing values
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [207]:
missing_values_table(airbnb_df)

Your selected dataframe has 18 columns.
There are 5 columns that have missing values.

                     Missing Values  % of Total Values
neighbourhood_group           18337              100.0
license                       18337              100.0
last_review                    3403               18.6
reviews_per_month              3403               18.6
host_name                       119                0.6

 What we found:
 
 "neighbourhood_group" and "license" column has all missing values so we will drop these columns. 
 
 The value_counts() funtion helps in finding the count of values that appear in a column. To further investigate columns "last_review", "reviews_per_month", and "host_name", we will apply this function.

In [208]:
airbnb_df['last_review'].value_counts()

9/5/2022     1193
9/11/2022     866
8/28/2022     651
9/4/2022      522
8/21/2022     479
             ...
6/4/2017        1
2/14/2019       1
7/13/2021       1
6/2/2019        1
4/9/2019        1
Name: last_review, Length: 1376, dtype: int64

In [209]:
airbnb_df['last_review'].values.tolist()

['3/18/2015',
 '9/11/2022',
 '8/28/2022',
 '8/28/2022',
 '10/4/2015',
 '8/16/2022',
 '3/13/2014',
 '3/25/2018',
 '8/14/2022',
 '7/15/2022',
 '9/9/2022',
 '10/25/2019',
 '11/13/2021',
 '9/29/2019',
 nan,
 '3/27/2022',
 '4/29/2022',
 '9/11/2022',
 '1/10/2021',
 '6/13/2022',
 '8/7/2022',
 '5/24/2020',
 '3/13/2020',
 '6/17/2022',
 '3/8/2020',
 '8/25/2022',
 '4/25/2022',
 '2/16/2020',
 nan,
 '1/19/2022',
 '8/15/2022',
 '8/15/2022',
 '6/5/2022',
 '4/29/2022',
 '8/21/2022',
 '3/19/2018',
 '9/9/2022',
 '9/8/2022',
 '3/17/2013',
 '2/28/2020',
 '4/23/2018',
 '1/15/2022',
 '3/8/2022',
 '10/25/2021',
 '10/6/2015',
 '9/11/2022',
 nan,
 nan,
 '12/30/2021',
 '7/6/2022',
 '9/11/2022',
 '3/12/2022',
 '3/17/2019',
 '8/13/2022',
 nan,
 '9/11/2022',
 '4/6/2018',
 nan,
 '8/13/2022',
 '8/26/2022',
 '9/11/2022',
 '3/11/2020',
 '2/13/2020',
 '11/14/2021',
 '9/1/2022',
 '9/11/2022',
 '7/17/2022',
 nan,
 '5/9/2022',
 '8/21/2022',
 '8/22/2022',
 '11/3/2019',
 '9/12/2022',
 '5/22/2022',
 '9/5/2022',
 '9/6/2022',
 '5/27/2019',
 '8/31/2022',
 '9/2/2022',
 nan,
 '8/21/2022',
 '3/1/2020',
 '3/7/2016',
 '9/11/2022',
 '9/4/2022',
 '4/23/2020',
 nan,
 '6/11/2022',
 '5/26/2019',
 '3/18/2012',
 '6/29/2022',
 '8/27/2022',
 '2/27/2022',
 '2/5/2022',
 '5/9/2022',
 '8/21/2022',
 nan,
 '11/4/2014',
 '9/10/2022',
 '9/11/2022',
 nan,
 '8/10/2022',
 '8/6/2022',
 '6/30/2020',
 '8/13/2022',
 '8/10/2022',
 '8/15/2022',
 '3/11/2019',
 '3/19/2015',
 '3/15/2012',
 '9/11/2022',
 '5/30/2021',
 '3/15/2017',
 '3/6/2020',
 '7/5/2017',
 '3/13/2018',
 '9/11/2022',
 '5/2/2021',
 '1/3/2018',
 '7/25/2022',
 '3/19/2017',
 '4/11/2020',
 '5/20/2022',
 nan,
 '11/20/2012',
 '7/31/2022',
 '11/29/2021',
 '9/6/2022',
 '6/17/2022',
 '6/1/2013',
 '8/16/2022',
 nan,
 '11/20/2012',
 nan,
 '7/22/2022',
 '8/14/2022',
 '8/30/2022',
 '4/14/2019',
 '8/29/2022',
 '8/21/2022',
 '6/29/2022',
 '7/1/2022',
 '7/18/2022',
 '7/5/2022',
 nan,
 nan,
 '9/10/2022',
 '9/5/2022',
 '4/25/2022',
 '8/15/2022',
 '7/8/2022',
 '3/14/2019',
 '11/5/2021',
 '10/22/2017',
 '9/11/2022',
 '3/16/2022',
 '6/18/2022',
 '9/8/2022',
 '2/22/2022',
 '6/3/2022',
 '5/31/2022',
 '7/14/2022',
 '7/31/2022',
 '9/5/2022',
 '8/16/2022',
 '3/13/2017',
 '12/22/2021',
 '6/12/2022',
 '3/11/2014',
 nan,
 '8/23/2022',
 '4/24/2022',
 '3/17/2014',
 '8/29/2022',
 '9/11/2022',
 '10/22/2017',
 nan,
 '3/18/2013',
 '8/4/2019',
 '6/13/2022',
 '9/11/2022',
 '8/19/2022',
 nan,
 '5/31/2022',
 '9/12/2022',
 '8/8/2022',
 '8/22/2022',
 '1/17/2018',
 '4/28/2019',
 '8/1/2022',
 '7/17/2022',
 '4/9/2022',
 '9/11/2022',
 '3/20/2022',
 '5/30/2016',
 '7/21/2022',
 '7/31/2022',
 '7/9/2022',
 '7/18/2022',
 '5/1/2022',
 '10/9/2016',
 '2/15/2020',
 '9/4/2022',
 nan,
 '9/11/2022',
 '6/21/2022',
 '9/5/2022',
 '10/26/2021',
 '10/1/2017',
 '5/5/2022',
 '10/10/2016',
 '6/19/2022',
 '6/15/2019',
 '9/3/2022',
 '8/8/2022',
 '3/14/2019',
 '8/20/2022',
 '4/25/2022',
 '9/11/2022',
 '9/7/2022',
 '3/8/2020',
 '3/20/2022',
 '8/28/2022',
 '6/4/2022',
 '9/10/2022',
 '8/16/2022',
 '3/13/2012',
 nan,
 '9/6/2022',
 '8/14/2022',
 '9/5/2022',
 '8/29/2022',
 '9/24/2021',
 '5/21/2017',
 '7/8/2022',
 '8/22/2022',
 '8/20/2022',
 '3/20/2016',
 '7/2/2022',
 '9/11/2022',
 '9/11/2022',
 '10/12/2021',
 '3/14/2018',
 nan,
 '4/26/2018',
 '8/28/2022',
 '9/5/2022',
 '9/11/2022',
 '4/8/2022',
 '7/29/2022',
 '3/21/2020',
 '6/11/2022',
 '9/4/2022',
 '9/4/2022',
 '8/21/2022',
 '7/1/2022',
 '9/9/2019',
 '3/18/2013',
 '9/7/2022',
 '10/7/2013',
 '8/28/2022',
 '3/17/2022',
 '8/14/2022',
 nan,
 '7/24/2022',
 '3/17/2014',
 '3/24/2015',
 '8/25/2022',
 '11/2/2015',
 '8/31/2019',
 '9/7/2022',
 nan,
 '9/29/2019',
 '8/8/2022',
 '8/21/2022',
 '3/15/2018',
 nan,
 '8/30/2016',
 '5/1/2022',
 nan,
 nan,
 '9/2/2022',
 '8/16/2022',
 nan,
 '3/22/2015',
 '7/31/2022',
 '12/9/2019',
 '10/26/2021',
 '8/24/2022',
 '7/18/2022',
 '8/17/2022',
 '3/11/2020',
 '3/13/2017',
 '6/19/2022',
 '8/18/2022',
 '2/28/2020',
 '9/7/2022',
 '6/26/2022',
 '9/4/2017',
 '7/24/2022',
 '8/28/2022',
 '3/28/2020',
 '3/14/2019',
 '9/11/2022',
 '9/11/2022',
 '8/19/2022',
 '3/17/2022',
 nan,
 '9/6/2022',
 '10/14/2019',
 '5/31/2022',
 '5/28/2022',
 '8/27/2022',
 '6/22/2022',
 '5/28/2022',
 '8/23/2022',
 '7/5/2022',
 '3/13/2013',
 '8/23/2020',
 '8/7/2022',
 '10/9/2016',
 '7/20/2022',
 '11/28/2021',
 '5/8/2022',
 '6/24/2022',
 '7/31/2022',
 '3/14/2019',
 '9/1/2022',
 '9/10/2022',
 '5/31/2022',
 '6/12/2022',
 nan,
 '9/10/2022',
 '6/18/2022',
 nan,
 '8/24/2022',
 '9/11/2022',
 '4/14/2019',
 '5/12/2015',
 '10/14/2019',
 nan,
 '3/17/2022',
 '3/22/2016',
 '4/8/2022',
 nan,
 '9/6/2022',
 '7/5/2022',
 nan,
 '7/19/2022',
 '7/31/2022',
 '8/26/2022',
 '3/12/2013',
 '10/17/2021',
 nan,
 '10/6/2021',
 nan,
 '2/16/2016',
 nan,
 '3/9/2020',
 nan,
 '9/6/2022',
 '7/31/2022',
 '8/14/2022',
 '5/25/2022',
 '10/30/2015',
 '7/31/2022',
 '8/8/2021',
 '3/18/2022',
 '3/10/2020',
 nan,
 '6/19/2022',
 '8/1/2022',
 '8/27/2022',
 '3/17/2016',
 nan,
 '9/7/2022',
 '2/9/2016',
 '3/21/2022',
 '7/15/2022',
 nan,
 '8/21/2022',
 '8/25/2022',
 '8/14/2022',
 '11/14/2021',
 '9/6/2022',
 nan,
 '4/29/2018',
 '3/19/2016',
 '8/19/2022',
 '9/11/2022',
 '3/12/2020',
 '10/12/2016',
 '1/21/2014',
 '9/11/2022',
 nan,
 '3/19/2022',
 '8/28/2022',
 '3/19/2017',
 '2/13/2022',
 '8/7/2022',
 nan,
 '9/5/2022',
 '3/16/2016',
 '8/6/2018',
 nan,
 '9/8/2019',
 '11/25/2018',
 '10/24/2021',
 '3/18/2015',
 '9/11/2022',
 '8/21/2022',
 '8/31/2022',
 '3/15/2016',
 nan,
 nan,
 '8/25/2022',
 '8/25/2022',
 '3/15/2016',
 '8/29/2022',
 '9/5/2022',
 nan,
 '7/29/2022',
 nan,
 '10/21/2018',
 '9/22/2019',
 '8/31/2022',
 '4/30/2022',
 '3/19/2014',
 nan,
 '5/15/2022',
 nan,
 nan,
 '6/13/2022',
 '5/22/2022',
 '10/16/2017',
 '9/7/2022',
 '5/8/2022',
 nan,
 nan,
 '3/12/2014',
 '11/4/2019',
 '10/10/2018',
 '9/12/2022',
 nan,
 nan,
 '9/5/2022',
 '3/17/2020',
 '10/9/2017',
 nan,
 '9/5/2022',
 '7/6/2022',
 nan,
 '8/29/2022',
 '8/24/2022',
 nan,
 '9/11/2022',
 '3/28/2022',
 '3/16/2020',
 '9/21/2015',
 '9/4/2022',
 nan,
 '6/22/2015',
 '7/31/2022',
 '8/30/2022',
 '2/24/2022',
 '4/11/2022',
 '8/21/2022',
 nan,
 '5/30/2022',
 nan,
 '8/31/2022',
 nan,
 '6/12/2022',
 '8/26/2022',
 '9/10/2022',
 nan,
 '3/20/2017',
 '10/12/2015',
 '3/18/2019',
 '3/18/2018',
 '10/8/2018',
 '5/30/2022',
 '8/24/2022',
 '8/13/2021',
 '9/4/2022',
 '8/14/2022',
 '7/31/2020',
 '8/22/2022',
 '5/1/2022',
 '8/21/2022',
 '9/11/2022',
 '5/16/2022',
 '8/23/2022',
 '1/5/2014',
 '7/10/2022',
 '3/10/2014',
 '9/5/2022',
 '8/25/2022',
 nan,
 '3/15/2022',
 '4/6/2019',
 '9/11/2022',
 nan,
 '6/1/2021',
 '5/7/2014',
 '8/31/2022',
 '7/31/2021',
 nan,
 '1/31/2022',
 '8/11/2022',
 '10/12/2015',
 nan,
 '7/24/2022',
 '9/4/2022',
 nan,
 nan,
 nan,
 '8/31/2022',
 '7/16/2021',
 '3/13/2022',
 '8/28/2022',
 '7/24/2022',
 '9/3/2022',
 '9/5/2022',
 '8/4/2015',
 '8/31/2022',
 '9/20/2020',
 '1/10/2016',
 '8/27/2022',
 '5/22/2022',
 '10/8/2018',
 nan,
 '8/26/2022',
 '10/22/2017',
 '1/1/2016',
 '8/16/2015',
 '9/19/2021',
 '3/24/2019',
 '3/18/2014',
 nan,
 '7/31/2021',
 '8/21/2022',
 '11/7/2014',
 '7/1/2015',
 nan,
 '5/30/2022',
 nan,
 '10/11/2021',
 '8/22/2022',
 '12/30/2018',
 '7/10/2021',
 nan,
 '5/28/2014',
 '8/25/2022',
 '3/21/2015',
 nan,
 '3/12/2014',
 '5/31/2022',
 '8/25/2022',
 nan,
 '5/19/2018',
 '5/29/2017',
 '3/23/2015',
 nan,
 nan,
 nan,
 '5/29/2022',
 '7/23/2022',
 '8/20/2022',
 '9/6/2022',
 '3/16/2017',
 nan,
 '8/14/2022',
 nan,
 '9/5/2022',
 nan,
 '5/4/2022',
 '7/22/2018',
 '9/5/2022',
 '8/31/2022',
 '8/11/2022',
 '8/25/2022',
 nan,
 nan,
 '9/4/2022',
 nan,
 '8/7/2022',
 '10/28/2018',
 '11/28/2016',
 '10/15/2014',
 '10/11/2020',
 nan,
 nan,
 '3/17/2014',
 '3/12/2020',
 '6/5/2022',
 nan,
 '8/22/2022',
 '7/26/2022',
 '3/18/2016',
 '6/17/2022',
 '3/21/2020',
 '9/4/2022',
 nan,
 nan,
 '10/26/2021',
 '3/22/2016',
 '9/11/2022',
 '9/12/2022',
 '7/3/2022',
 '3/18/2014',
 '5/24/2017',
 '9/5/2022',
 nan,
 '3/25/2015',
 '3/12/2020',
 '8/28/2022',
 nan,
 nan,
 nan,
 nan,
 '1/25/2022',
 '9/11/2022',
 '6/19/2022',
 nan,
 '12/12/2020',
 '3/15/2015',
 '9/11/2022',
 '7/4/2022',
 '8/25/2022',
 '3/13/2022',
 nan,
 nan,
 '9/11/2022',
 '3/17/2014',
 '6/11/2022',
 '3/12/2020',
 '8/23/2022',
 '10/21/2018',
 nan,
 '8/28/2022',
 '8/29/2022',
 '7/22/2022',
 '7/2/2016',
 nan,
 '11/10/2015',
 '8/28/2022',
 '6/7/2022',
 '6/7/2022',
 '9/30/2021',
 '3/19/2015',
 nan,
 '6/22/2022',
 '9/5/2022',
 '3/12/2019',
 '11/30/2019',
 '8/22/2022',
 '8/13/2015',
 '9/4/2022',
 '7/13/2022',
 nan,
 '3/16/2020',
 '11/12/2016',
 '3/17/2016',
 '5/22/2022',
 nan,
 nan,
 '7/27/2020',
 '10/24/2021',
 '7/18/2015',
 '8/28/2022',
 '3/20/2015',
 '12/31/2021',
 '5/30/2022',
 '3/28/2021',
 '7/25/2022',
 '8/21/2022',
 '8/7/2022',
 '8/27/2018',
 '8/7/2022',
 '4/18/2021',
 '10/10/2021',
 '9/30/2018',
 nan,
 '9/5/2022',
 '8/13/2022',
 '9/11/2022',
 nan,
 '7/25/2022',
 '7/17/2022',
 '8/28/2022',
 '2/21/2022',
 '6/9/2015',
 '6/9/2022',
 '4/24/2021',
 '7/22/2022',
 '8/21/2022',
 '10/31/2021',
 '8/14/2022',
 '10/24/2021',
 '9/5/2022',
 '7/24/2022',
 '6/12/2022',
 '8/21/2022',
 '5/24/2022',
 '8/28/2022',
 nan,
 '9/4/2022',
 '8/14/2022',
 '10/31/2020',
 '11/28/2017',
 '10/3/2021',
 '3/15/2016',
 '7/17/2022',
 '5/28/2017',
 '8/29/2022',
 nan,
 '9/11/2022',
 '5/23/2015',
 '8/28/2022',
 '7/14/2018',
 '6/11/2022',
 '8/30/2022',
 '5/31/2022',
 '8/8/2021',
 '8/31/2022',
 '10/8/2017',
 '8/28/2022',
 '12/18/2017',
 '8/14/2022',
 '8/12/2022',
 '5/15/2022',
 '9/11/2022',
 '8/20/2019',
 '2/18/2019',
 '9/11/2022',
 '6/1/2022',
 '7/9/2022',
 '3/16/2020',
 nan,
 '7/28/2022',
 '7/23/2022',
 nan,
 nan,
 '6/7/2022',
 nan,
 '9/25/2017',
 '6/21/2020',
 '9/23/2016',
 '9/11/2022',
 nan,
 '5/25/2022',
 '9/6/2022',
 '7/9/2018',
 nan,
 '7/25/2015',
 '4/9/2020',
 '8/16/2022',
 '9/5/2022',
 '1/4/2022',
 '2/12/2022',
 '5/10/2022',
 '8/8/2022',
 nan,
 '7/4/2016',
 '6/20/2022',
 '9/30/2018',
 '11/30/2021',
 '3/28/2017',
 '7/25/2022',
 '6/12/2022',
 '8/25/2022',
 '7/14/2016',
 nan,
 '7/10/2022',
 '10/5/2015',
 '10/13/2015',
 '8/22/2022',
 '9/28/2014',
 '8/31/2022',
 '9/5/2022',
 '8/7/2022',
 '8/31/2022',
 '6/13/2021',
 '8/27/2022',
 '6/14/2022',
 '9/2/2022',
 '6/14/2022',
 '6/4/2022',
 '9/11/2022',
 '8/13/2022',
 '8/21/2022',
 '9/11/2022',
 '7/5/2021',
 '5/21/2018',
 '11/20/2020',
 '3/14/2018',
 '6/29/2022',
 '9/12/2022',
 nan,
 '11/14/2021',
 nan,
 '8/21/2022',
 nan,
 '9/1/2022',
 nan,
 '4/28/2022',
 '8/26/2019',
 nan,
 '9/4/2022',
 '11/17/2019',
 '9/5/2022',
 '8/22/2022',
 nan,
 '8/7/2022',
 '9/6/2022',
 '8/23/2022',
 '8/28/2022',
 '8/28/2022',
 '9/5/2022',
 '4/17/2016',
 '8/26/2022',
 '11/1/2017',
 '7/31/2022',
 '8/28/2022',
 '7/31/2022',
 '9/6/2022',
 '8/7/2022',
 '12/11/2015',
 '8/29/2022',
 '9/7/2022',
 '8/10/2022',
 '10/25/2021',
 '6/30/2022',
 '9/9/2022',
 '9/7/2022',
 '9/11/2022',
 '4/12/2020',
 '8/28/2022',
 '9/11/2022',
 '10/25/2021',
 nan,
 nan,
 '5/21/2022',
 '7/11/2022',
 '3/14/2017',
 nan,
 nan,
 '8/31/2022',
 '6/1/2019',
 nan,
 '8/4/2022',
 '8/27/2021',
 '8/19/2022',
 '9/8/2022',
 '3/13/2018',
 '10/4/2016',
 nan,
 '3/1/2020',
 '7/31/2022',
 nan,
 nan,
 '9/6/2022',
 '9/4/2022',
 '9/11/2022',
 '5/24/2015',
 '8/29/2022',
 '8/29/2022',
 '9/27/2015',
 '8/28/2022',
 '6/14/2022',
 '8/1/2021',
 '12/27/2017',
 '8/25/2022',
 '3/19/2022',
 '8/4/2022',
 nan,
 nan,
 '3/22/2015',
 '8/30/2022',
 '8/21/2022',
 '8/29/2022',
 '8/20/2022',
 '3/18/2019',
 '10/10/2016',
 '10/24/2021',
 nan,
 '3/27/2022',
 '6/30/2022',
 '3/20/2016',
 nan,
 '7/17/2022',
 nan,
 nan,
 '3/14/2020',
 '9/5/2022',
 '10/10/2021',
 nan,
 '3/17/2015',
 '8/7/2022',
 '8/21/2022',
 nan,
 '5/27/2018',
 '10/24/2021',
 '4/25/2022',
 '8/21/2022',
 '9/5/2022',
 nan,
 '5/8/2017',
 '9/10/2022',
 '3/29/2019',
 '3/17/2016',
 '7/5/2016',
 '6/18/2017',
 '7/31/2022',
 '3/17/2016',
 '8/26/2022',
 nan,
 '8/25/2022',
 '8/12/2022',
 '5/14/2022',
 '6/13/2022',
 '9/9/2022',
 nan,
 '7/16/2022',
 '3/9/2018',
 '8/20/2022',
 '9/11/2022',
 nan,
 '8/21/2022',
 '6/6/2019',
 '3/20/2022',
 nan,
 '9/1/2022',
 nan,
 '5/15/2018',
 '1/2/2022',
 '12/31/2016',
 '10/12/2020',
 '10/19/2015',
 nan,
 nan,
 '7/3/2022',
 '3/17/2022',
 '3/14/2022',
 nan,
 '3/18/2015',
 '10/7/2018',
 nan,
 nan,
 nan,
 nan,
 nan,
 '4/9/2022',
 '11/9/2015',
 '4/23/2016',
 nan,
 '3/23/2015',
 '7/11/2021',
 nan,
 '8/25/2022',
 '3/17/2015',
 '3/18/2015',
 '8/9/2022',
 nan,
 nan,
 nan,
 '4/24/2016',
 '3/17/2015',
 '4/21/2022',
 '3/23/2016',
 '10/23/2016',
 '8/1/2015',
 '7/2/2022',
 '8/18/2022',
 '9/12/2022',
 nan,
 '1/16/2016',
 '3/22/2015',
 '3/12/2018',
 '3/17/2016',
 '8/22/2022',
 '5/30/2022',
 '8/21/2022',
 nan,
 '9/11/2022',
 nan,
 '3/26/2015',
 '2/28/2016',
 '3/22/2015',
 '3/23/2015',
 '9/5/2022',
 '3/19/2017',
 '5/1/2016',
 nan,
 '6/14/2022',
 '3/23/2015',
 nan,
 '3/19/2015',
 nan,
 ...]

In [210]:
airbnb_df['reviews_per_month'].value_counts()

1.00     377
0.02     241
0.03     185
0.01     185
0.04     173
        ...
6.68       1
8.81       1
23.28      1
7.89       1
8.82       1
Name: reviews_per_month, Length: 855, dtype: int64

In [211]:
airbnb_df['host_name'].value_counts()

Vacasa Texas                    460
WanderJaunt                     196
Hill Country Premier Lodging    186
Evolve                          180
Landing                         145
                               ...
Hamsu                             1
Rindi                             1
Hana                              1
Dori                              1
Vitaly                            1
Name: host_name, Length: 3858, dtype: int64

Finding the value count of all columns to find the length and breakdown count of each column values

In [212]:
for c in airbnb_df.columns:
    print("---- %s ---" % c)
    print(airbnb_df[c].value_counts())

---- id ---
6.816090e+17    11
5.651430e+17    11
5.945390e+17    10
6.816080e+17    10
6.500130e+17     9
                ..
2.691457e+07     1
1.344892e+07     1
3.179993e+07     1
2.901164e+07     1
6.102400e+17     1
Name: id, Length: 18011, dtype: int64
---- name ---
Club Wyndham Austin, Texas, 1 Bedroom Deluxe Suite    17
The Bindel l Domain l Professionally Managed          13
CW Austin | 1BR/1BA King Bed Suite                    10
CW Austin Resort | 2BR/2BA King Bed Suite              9
Austin 1 Bedroom                                       8
                                                      ..
Buttercup Hill Scenic Cabins, Ancil's Attic            1
Creekside Cabins - The Hunter's Lodge                  1
Relax in a spacious & newly furnished 4 bedroom!       1
SoCo 2BR minutes to Downtown w/ Pool and Lounge        1
The Olive I Close 2 DT I Sleep 5 I 50"TV I Kitchen     1
Name: name, Length: 17971, dtype: int64
---- host_id ---
26497220     207
104309976    196
107378253    186
124060715    147
263502162    145
            ...
233101537      1
324606185      1
8880362        1
20056299       1
386760704      1
Name: host_id, Length: 10214, dtype: int64
---- host_name ---
Vacasa Texas                    460
WanderJaunt                     196
Hill Country Premier Lodging    186
Evolve                          180
Landing                         145
                               ...
Hamsu                             1
Rindi                             1
Hana                              1
Dori                              1
Vitaly                            1
Name: host_name, Length: 3858, dtype: int64
---- neighbourhood_group ---
Series([], Name: neighbourhood_group, dtype: int64)
---- neighbourhood ---
78704    2048
78702    1575
78701    1125
78741     913
78745     626
         ...
78663       8
76530       8
78605       7
78615       4
78712       1
Name: neighbourhood, Length: 80, dtype: int64
---- latitude ---
30.552940    31
30.237497    23
30.256454    21
30.321970    20
30.271640    19
             ..
30.211970     1
30.484694     1
30.245242     1
30.426630     1
30.402423     1
Name: latitude, Length: 14477, dtype: int64
---- longitude ---
-97.747570    34
-98.285440    31
-97.755234    23
-97.725210    22
-97.738831    21
              ..
-97.661446     1
-97.788710     1
-97.621440     1
-97.613540     1
-98.169560     1
Name: longitude, Length: 14109, dtype: int64
---- room_type ---
Entire home/apt    15084
Private room        3072
Shared room          133
Hotel room            48
Name: room_type, dtype: int64
---- price ---
150     326
200     301
100     275
250     232
125     216
       ...
979       1
473       1
2520      1
1171      1
839       1
Name: price, Length: 1154, dtype: int64
---- minimum_nights ---
2       7106
1       5907
3       2048
30      1386
4        381
        ...
124        1
364        1
1100       1
93         1
16         1
Name: minimum_nights, Length: 62, dtype: int64
---- number_of_reviews ---
0       3403
1       1545
2        982
3        769
4        578
        ...
1062       1
918        1
822        1
630        1
559        1
Name: number_of_reviews, Length: 467, dtype: int64
---- last_review ---
9/5/2022     1193
9/11/2022     866
8/28/2022     651
9/4/2022      522
8/21/2022     479
             ...
6/4/2017        1
2/14/2019       1
7/13/2021       1
6/2/2019        1
4/9/2019        1
Name: last_review, Length: 1376, dtype: int64
---- reviews_per_month ---
1.00     377
0.02     241
0.03     185
0.01     185
0.04     173
        ...
6.68       1
8.81       1
23.28      1
7.89       1
8.82       1
Name: reviews_per_month, Length: 855, dtype: int64
---- calculated_host_listings_count ---
1      7992
2      2452
3      1251
4       752
5       445
6       348
8       280
11      220
10      220
207     207
7       196
196     196
186     186
13      169
19      152
147     147
21      147
29      145
145     145
12      144
9       144
120     120
14       98
95       95
22       88
84       84
41       82
16       80
40       80
39       78
26       78
78       78
15       75
74       74
73       73
24       72
70       70
23       69
69       69
34       68
17       68
33       66
31       62
61       61
60       60
20       60
59       59
57       57
28       56
52       52
42       42
38       38
37       37
18       36
32       32
30       30
27       27
25       25
Name: calculated_host_listings_count, dtype: int64
---- availability_365 ---
0      3642
365     396
364     287
47      217
362     186
       ...
185       6
202       6
193       6
184       4
191       4
Name: availability_365, Length: 366, dtype: int64
---- number_of_reviews_ltm ---
0      5963
1      1414
2       947
3       775
4       612
       ...
154       1
98        1
114       1
178       1
143       1
Name: number_of_reviews_ltm, Length: 143, dtype: int64
---- license ---
Series([], Name: license, dtype: int64)

# Data Wrangling
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data  are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

### Create a subset of your original data and perform the following:

In [213]:
new_df = airbnb_df.iloc[0:18330]

Check the count of row and column after subsetting

In [214]:
new_df.shape

(18330, 18)

### 1- Modify multiple column names.

In [215]:
new_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [216]:
new_df.rename(columns = {'name':'specifications', 'calculated_host_listings_count':'listings_count', 'availability_365': 'availability_days'}, inplace = True)

# Check the name column names

In [217]:
new_df.columns

Index(['id', 'specifications', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'listings_count', 'availability_days',
       'number_of_reviews_ltm', 'license'],
      dtype='object')

### 2- Look at the structure of your data  are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

Convert the "last_review" column into correct date format.
Use pandas.to_datetime() to convert string to datetime format

In [218]:
new_df['last_review'].values.tolist()

['3/18/2015',
 '9/11/2022',
 '8/28/2022',
 '8/28/2022',
 '10/4/2015',
 '8/16/2022',
 '3/13/2014',
 '3/25/2018',
 '8/14/2022',
 '7/15/2022',
 '9/9/2022',
 '10/25/2019',
 '11/13/2021',
 '9/29/2019',
 nan,
 '3/27/2022',
 '4/29/2022',
 '9/11/2022',
 '1/10/2021',
 '6/13/2022',
 '8/7/2022',
 '5/24/2020',
 '3/13/2020',
 '6/17/2022',
 '3/8/2020',
 '8/25/2022',
 '4/25/2022',
 '2/16/2020',
 nan,
 '1/19/2022',
 '8/15/2022',
 '8/15/2022',
 '6/5/2022',
 '4/29/2022',
 '8/21/2022',
 '3/19/2018',
 '9/9/2022',
 '9/8/2022',
 '3/17/2013',
 '2/28/2020',
 '4/23/2018',
 '1/15/2022',
 '3/8/2022',
 '10/25/2021',
 '10/6/2015',
 '9/11/2022',
 nan,
 nan,
 '12/30/2021',
 '7/6/2022',
 '9/11/2022',
 '3/12/2022',
 '3/17/2019',
 '8/13/2022',
 nan,
 '9/11/2022',
 '4/6/2018',
 nan,
 '8/13/2022',
 '8/26/2022',
 '9/11/2022',
 '3/11/2020',
 '2/13/2020',
 '11/14/2021',
 '9/1/2022',
 '9/11/2022',
 '7/17/2022',
 nan,
 '5/9/2022',
 '8/21/2022',
 '8/22/2022',
 '11/3/2019',
 '9/12/2022',
 '5/22/2022',
 '9/5/2022',
 '9/6/2022',
 '5/27/2019',
 '8/31/2022',
 '9/2/2022',
 nan,
 '8/21/2022',
 '3/1/2020',
 '3/7/2016',
 '9/11/2022',
 '9/4/2022',
 '4/23/2020',
 nan,
 '6/11/2022',
 '5/26/2019',
 '3/18/2012',
 '6/29/2022',
 '8/27/2022',
 '2/27/2022',
 '2/5/2022',
 '5/9/2022',
 '8/21/2022',
 nan,
 '11/4/2014',
 '9/10/2022',
 '9/11/2022',
 nan,
 '8/10/2022',
 '8/6/2022',
 '6/30/2020',
 '8/13/2022',
 '8/10/2022',
 '8/15/2022',
 '3/11/2019',
 '3/19/2015',
 '3/15/2012',
 '9/11/2022',
 '5/30/2021',
 '3/15/2017',
 '3/6/2020',
 '7/5/2017',
 '3/13/2018',
 '9/11/2022',
 '5/2/2021',
 '1/3/2018',
 '7/25/2022',
 '3/19/2017',
 '4/11/2020',
 '5/20/2022',
 nan,
 '11/20/2012',
 '7/31/2022',
 '11/29/2021',
 '9/6/2022',
 '6/17/2022',
 '6/1/2013',
 '8/16/2022',
 nan,
 '11/20/2012',
 nan,
 '7/22/2022',
 '8/14/2022',
 '8/30/2022',
 '4/14/2019',
 '8/29/2022',
 '8/21/2022',
 '6/29/2022',
 '7/1/2022',
 '7/18/2022',
 '7/5/2022',
 nan,
 nan,
 '9/10/2022',
 '9/5/2022',
 '4/25/2022',
 '8/15/2022',
 '7/8/2022',
 '3/14/2019',
 '11/5/2021',
 '10/22/2017',
 '9/11/2022',
 '3/16/2022',
 '6/18/2022',
 '9/8/2022',
 '2/22/2022',
 '6/3/2022',
 '5/31/2022',
 '7/14/2022',
 '7/31/2022',
 '9/5/2022',
 '8/16/2022',
 '3/13/2017',
 '12/22/2021',
 '6/12/2022',
 '3/11/2014',
 nan,
 '8/23/2022',
 '4/24/2022',
 '3/17/2014',
 '8/29/2022',
 '9/11/2022',
 '10/22/2017',
 nan,
 '3/18/2013',
 '8/4/2019',
 '6/13/2022',
 '9/11/2022',
 '8/19/2022',
 nan,
 '5/31/2022',
 '9/12/2022',
 '8/8/2022',
 '8/22/2022',
 '1/17/2018',
 '4/28/2019',
 '8/1/2022',
 '7/17/2022',
 '4/9/2022',
 '9/11/2022',
 '3/20/2022',
 '5/30/2016',
 '7/21/2022',
 '7/31/2022',
 '7/9/2022',
 '7/18/2022',
 '5/1/2022',
 '10/9/2016',
 '2/15/2020',
 '9/4/2022',
 nan,
 '9/11/2022',
 '6/21/2022',
 '9/5/2022',
 '10/26/2021',
 '10/1/2017',
 '5/5/2022',
 '10/10/2016',
 '6/19/2022',
 '6/15/2019',
 '9/3/2022',
 '8/8/2022',
 '3/14/2019',
 '8/20/2022',
 '4/25/2022',
 '9/11/2022',
 '9/7/2022',
 '3/8/2020',
 '3/20/2022',
 '8/28/2022',
 '6/4/2022',
 '9/10/2022',
 '8/16/2022',
 '3/13/2012',
 nan,
 '9/6/2022',
 '8/14/2022',
 '9/5/2022',
 '8/29/2022',
 '9/24/2021',
 '5/21/2017',
 '7/8/2022',
 '8/22/2022',
 '8/20/2022',
 '3/20/2016',
 '7/2/2022',
 '9/11/2022',
 '9/11/2022',
 '10/12/2021',
 '3/14/2018',
 nan,
 '4/26/2018',
 '8/28/2022',
 '9/5/2022',
 '9/11/2022',
 '4/8/2022',
 '7/29/2022',
 '3/21/2020',
 '6/11/2022',
 '9/4/2022',
 '9/4/2022',
 '8/21/2022',
 '7/1/2022',
 '9/9/2019',
 '3/18/2013',
 '9/7/2022',
 '10/7/2013',
 '8/28/2022',
 '3/17/2022',
 '8/14/2022',
 nan,
 '7/24/2022',
 '3/17/2014',
 '3/24/2015',
 '8/25/2022',
 '11/2/2015',
 '8/31/2019',
 '9/7/2022',
 nan,
 '9/29/2019',
 '8/8/2022',
 '8/21/2022',
 '3/15/2018',
 nan,
 '8/30/2016',
 '5/1/2022',
 nan,
 nan,
 '9/2/2022',
 '8/16/2022',
 nan,
 '3/22/2015',
 '7/31/2022',
 '12/9/2019',
 '10/26/2021',
 '8/24/2022',
 '7/18/2022',
 '8/17/2022',
 '3/11/2020',
 '3/13/2017',
 '6/19/2022',
 '8/18/2022',
 '2/28/2020',
 '9/7/2022',
 '6/26/2022',
 '9/4/2017',
 '7/24/2022',
 '8/28/2022',
 '3/28/2020',
 '3/14/2019',
 '9/11/2022',
 '9/11/2022',
 '8/19/2022',
 '3/17/2022',
 nan,
 '9/6/2022',
 '10/14/2019',
 '5/31/2022',
 '5/28/2022',
 '8/27/2022',
 '6/22/2022',
 '5/28/2022',
 '8/23/2022',
 '7/5/2022',
 '3/13/2013',
 '8/23/2020',
 '8/7/2022',
 '10/9/2016',
 '7/20/2022',
 '11/28/2021',
 '5/8/2022',
 '6/24/2022',
 '7/31/2022',
 '3/14/2019',
 '9/1/2022',
 '9/10/2022',
 '5/31/2022',
 '6/12/2022',
 nan,
 '9/10/2022',
 '6/18/2022',
 nan,
 '8/24/2022',
 '9/11/2022',
 '4/14/2019',
 '5/12/2015',
 '10/14/2019',
 nan,
 '3/17/2022',
 '3/22/2016',
 '4/8/2022',
 nan,
 '9/6/2022',
 '7/5/2022',
 nan,
 '7/19/2022',
 '7/31/2022',
 '8/26/2022',
 '3/12/2013',
 '10/17/2021',
 nan,
 '10/6/2021',
 nan,
 '2/16/2016',
 nan,
 '3/9/2020',
 nan,
 '9/6/2022',
 '7/31/2022',
 '8/14/2022',
 '5/25/2022',
 '10/30/2015',
 '7/31/2022',
 '8/8/2021',
 '3/18/2022',
 '3/10/2020',
 nan,
 '6/19/2022',
 '8/1/2022',
 '8/27/2022',
 '3/17/2016',
 nan,
 '9/7/2022',
 '2/9/2016',
 '3/21/2022',
 '7/15/2022',
 nan,
 '8/21/2022',
 '8/25/2022',
 '8/14/2022',
 '11/14/2021',
 '9/6/2022',
 nan,
 '4/29/2018',
 '3/19/2016',
 '8/19/2022',
 '9/11/2022',
 '3/12/2020',
 '10/12/2016',
 '1/21/2014',
 '9/11/2022',
 nan,
 '3/19/2022',
 '8/28/2022',
 '3/19/2017',
 '2/13/2022',
 '8/7/2022',
 nan,
 '9/5/2022',
 '3/16/2016',
 '8/6/2018',
 nan,
 '9/8/2019',
 '11/25/2018',
 '10/24/2021',
 '3/18/2015',
 '9/11/2022',
 '8/21/2022',
 '8/31/2022',
 '3/15/2016',
 nan,
 nan,
 '8/25/2022',
 '8/25/2022',
 '3/15/2016',
 '8/29/2022',
 '9/5/2022',
 nan,
 '7/29/2022',
 nan,
 '10/21/2018',
 '9/22/2019',
 '8/31/2022',
 '4/30/2022',
 '3/19/2014',
 nan,
 '5/15/2022',
 nan,
 nan,
 '6/13/2022',
 '5/22/2022',
 '10/16/2017',
 '9/7/2022',
 '5/8/2022',
 nan,
 nan,
 '3/12/2014',
 '11/4/2019',
 '10/10/2018',
 '9/12/2022',
 nan,
 nan,
 '9/5/2022',
 '3/17/2020',
 '10/9/2017',
 nan,
 '9/5/2022',
 '7/6/2022',
 nan,
 '8/29/2022',
 '8/24/2022',
 nan,
 '9/11/2022',
 '3/28/2022',
 '3/16/2020',
 '9/21/2015',
 '9/4/2022',
 nan,
 '6/22/2015',
 '7/31/2022',
 '8/30/2022',
 '2/24/2022',
 '4/11/2022',
 '8/21/2022',
 nan,
 '5/30/2022',
 nan,
 '8/31/2022',
 nan,
 '6/12/2022',
 '8/26/2022',
 '9/10/2022',
 nan,
 '3/20/2017',
 '10/12/2015',
 '3/18/2019',
 '3/18/2018',
 '10/8/2018',
 '5/30/2022',
 '8/24/2022',
 '8/13/2021',
 '9/4/2022',
 '8/14/2022',
 '7/31/2020',
 '8/22/2022',
 '5/1/2022',
 '8/21/2022',
 '9/11/2022',
 '5/16/2022',
 '8/23/2022',
 '1/5/2014',
 '7/10/2022',
 '3/10/2014',
 '9/5/2022',
 '8/25/2022',
 nan,
 '3/15/2022',
 '4/6/2019',
 '9/11/2022',
 nan,
 '6/1/2021',
 '5/7/2014',
 '8/31/2022',
 '7/31/2021',
 nan,
 '1/31/2022',
 '8/11/2022',
 '10/12/2015',
 nan,
 '7/24/2022',
 '9/4/2022',
 nan,
 nan,
 nan,
 '8/31/2022',
 '7/16/2021',
 '3/13/2022',
 '8/28/2022',
 '7/24/2022',
 '9/3/2022',
 '9/5/2022',
 '8/4/2015',
 '8/31/2022',
 '9/20/2020',
 '1/10/2016',
 '8/27/2022',
 '5/22/2022',
 '10/8/2018',
 nan,
 '8/26/2022',
 '10/22/2017',
 '1/1/2016',
 '8/16/2015',
 '9/19/2021',
 '3/24/2019',
 '3/18/2014',
 nan,
 '7/31/2021',
 '8/21/2022',
 '11/7/2014',
 '7/1/2015',
 nan,
 '5/30/2022',
 nan,
 '10/11/2021',
 '8/22/2022',
 '12/30/2018',
 '7/10/2021',
 nan,
 '5/28/2014',
 '8/25/2022',
 '3/21/2015',
 nan,
 '3/12/2014',
 '5/31/2022',
 '8/25/2022',
 nan,
 '5/19/2018',
 '5/29/2017',
 '3/23/2015',
 nan,
 nan,
 nan,
 '5/29/2022',
 '7/23/2022',
 '8/20/2022',
 '9/6/2022',
 '3/16/2017',
 nan,
 '8/14/2022',
 nan,
 '9/5/2022',
 nan,
 '5/4/2022',
 '7/22/2018',
 '9/5/2022',
 '8/31/2022',
 '8/11/2022',
 '8/25/2022',
 nan,
 nan,
 '9/4/2022',
 nan,
 '8/7/2022',
 '10/28/2018',
 '11/28/2016',
 '10/15/2014',
 '10/11/2020',
 nan,
 nan,
 '3/17/2014',
 '3/12/2020',
 '6/5/2022',
 nan,
 '8/22/2022',
 '7/26/2022',
 '3/18/2016',
 '6/17/2022',
 '3/21/2020',
 '9/4/2022',
 nan,
 nan,
 '10/26/2021',
 '3/22/2016',
 '9/11/2022',
 '9/12/2022',
 '7/3/2022',
 '3/18/2014',
 '5/24/2017',
 '9/5/2022',
 nan,
 '3/25/2015',
 '3/12/2020',
 '8/28/2022',
 nan,
 nan,
 nan,
 nan,
 '1/25/2022',
 '9/11/2022',
 '6/19/2022',
 nan,
 '12/12/2020',
 '3/15/2015',
 '9/11/2022',
 '7/4/2022',
 '8/25/2022',
 '3/13/2022',
 nan,
 nan,
 '9/11/2022',
 '3/17/2014',
 '6/11/2022',
 '3/12/2020',
 '8/23/2022',
 '10/21/2018',
 nan,
 '8/28/2022',
 '8/29/2022',
 '7/22/2022',
 '7/2/2016',
 nan,
 '11/10/2015',
 '8/28/2022',
 '6/7/2022',
 '6/7/2022',
 '9/30/2021',
 '3/19/2015',
 nan,
 '6/22/2022',
 '9/5/2022',
 '3/12/2019',
 '11/30/2019',
 '8/22/2022',
 '8/13/2015',
 '9/4/2022',
 '7/13/2022',
 nan,
 '3/16/2020',
 '11/12/2016',
 '3/17/2016',
 '5/22/2022',
 nan,
 nan,
 '7/27/2020',
 '10/24/2021',
 '7/18/2015',
 '8/28/2022',
 '3/20/2015',
 '12/31/2021',
 '5/30/2022',
 '3/28/2021',
 '7/25/2022',
 '8/21/2022',
 '8/7/2022',
 '8/27/2018',
 '8/7/2022',
 '4/18/2021',
 '10/10/2021',
 '9/30/2018',
 nan,
 '9/5/2022',
 '8/13/2022',
 '9/11/2022',
 nan,
 '7/25/2022',
 '7/17/2022',
 '8/28/2022',
 '2/21/2022',
 '6/9/2015',
 '6/9/2022',
 '4/24/2021',
 '7/22/2022',
 '8/21/2022',
 '10/31/2021',
 '8/14/2022',
 '10/24/2021',
 '9/5/2022',
 '7/24/2022',
 '6/12/2022',
 '8/21/2022',
 '5/24/2022',
 '8/28/2022',
 nan,
 '9/4/2022',
 '8/14/2022',
 '10/31/2020',
 '11/28/2017',
 '10/3/2021',
 '3/15/2016',
 '7/17/2022',
 '5/28/2017',
 '8/29/2022',
 nan,
 '9/11/2022',
 '5/23/2015',
 '8/28/2022',
 '7/14/2018',
 '6/11/2022',
 '8/30/2022',
 '5/31/2022',
 '8/8/2021',
 '8/31/2022',
 '10/8/2017',
 '8/28/2022',
 '12/18/2017',
 '8/14/2022',
 '8/12/2022',
 '5/15/2022',
 '9/11/2022',
 '8/20/2019',
 '2/18/2019',
 '9/11/2022',
 '6/1/2022',
 '7/9/2022',
 '3/16/2020',
 nan,
 '7/28/2022',
 '7/23/2022',
 nan,
 nan,
 '6/7/2022',
 nan,
 '9/25/2017',
 '6/21/2020',
 '9/23/2016',
 '9/11/2022',
 nan,
 '5/25/2022',
 '9/6/2022',
 '7/9/2018',
 nan,
 '7/25/2015',
 '4/9/2020',
 '8/16/2022',
 '9/5/2022',
 '1/4/2022',
 '2/12/2022',
 '5/10/2022',
 '8/8/2022',
 nan,
 '7/4/2016',
 '6/20/2022',
 '9/30/2018',
 '11/30/2021',
 '3/28/2017',
 '7/25/2022',
 '6/12/2022',
 '8/25/2022',
 '7/14/2016',
 nan,
 '7/10/2022',
 '10/5/2015',
 '10/13/2015',
 '8/22/2022',
 '9/28/2014',
 '8/31/2022',
 '9/5/2022',
 '8/7/2022',
 '8/31/2022',
 '6/13/2021',
 '8/27/2022',
 '6/14/2022',
 '9/2/2022',
 '6/14/2022',
 '6/4/2022',
 '9/11/2022',
 '8/13/2022',
 '8/21/2022',
 '9/11/2022',
 '7/5/2021',
 '5/21/2018',
 '11/20/2020',
 '3/14/2018',
 '6/29/2022',
 '9/12/2022',
 nan,
 '11/14/2021',
 nan,
 '8/21/2022',
 nan,
 '9/1/2022',
 nan,
 '4/28/2022',
 '8/26/2019',
 nan,
 '9/4/2022',
 '11/17/2019',
 '9/5/2022',
 '8/22/2022',
 nan,
 '8/7/2022',
 '9/6/2022',
 '8/23/2022',
 '8/28/2022',
 '8/28/2022',
 '9/5/2022',
 '4/17/2016',
 '8/26/2022',
 '11/1/2017',
 '7/31/2022',
 '8/28/2022',
 '7/31/2022',
 '9/6/2022',
 '8/7/2022',
 '12/11/2015',
 '8/29/2022',
 '9/7/2022',
 '8/10/2022',
 '10/25/2021',
 '6/30/2022',
 '9/9/2022',
 '9/7/2022',
 '9/11/2022',
 '4/12/2020',
 '8/28/2022',
 '9/11/2022',
 '10/25/2021',
 nan,
 nan,
 '5/21/2022',
 '7/11/2022',
 '3/14/2017',
 nan,
 nan,
 '8/31/2022',
 '6/1/2019',
 nan,
 '8/4/2022',
 '8/27/2021',
 '8/19/2022',
 '9/8/2022',
 '3/13/2018',
 '10/4/2016',
 nan,
 '3/1/2020',
 '7/31/2022',
 nan,
 nan,
 '9/6/2022',
 '9/4/2022',
 '9/11/2022',
 '5/24/2015',
 '8/29/2022',
 '8/29/2022',
 '9/27/2015',
 '8/28/2022',
 '6/14/2022',
 '8/1/2021',
 '12/27/2017',
 '8/25/2022',
 '3/19/2022',
 '8/4/2022',
 nan,
 nan,
 '3/22/2015',
 '8/30/2022',
 '8/21/2022',
 '8/29/2022',
 '8/20/2022',
 '3/18/2019',
 '10/10/2016',
 '10/24/2021',
 nan,
 '3/27/2022',
 '6/30/2022',
 '3/20/2016',
 nan,
 '7/17/2022',
 nan,
 nan,
 '3/14/2020',
 '9/5/2022',
 '10/10/2021',
 nan,
 '3/17/2015',
 '8/7/2022',
 '8/21/2022',
 nan,
 '5/27/2018',
 '10/24/2021',
 '4/25/2022',
 '8/21/2022',
 '9/5/2022',
 nan,
 '5/8/2017',
 '9/10/2022',
 '3/29/2019',
 '3/17/2016',
 '7/5/2016',
 '6/18/2017',
 '7/31/2022',
 '3/17/2016',
 '8/26/2022',
 nan,
 '8/25/2022',
 '8/12/2022',
 '5/14/2022',
 '6/13/2022',
 '9/9/2022',
 nan,
 '7/16/2022',
 '3/9/2018',
 '8/20/2022',
 '9/11/2022',
 nan,
 '8/21/2022',
 '6/6/2019',
 '3/20/2022',
 nan,
 '9/1/2022',
 nan,
 '5/15/2018',
 '1/2/2022',
 '12/31/2016',
 '10/12/2020',
 '10/19/2015',
 nan,
 nan,
 '7/3/2022',
 '3/17/2022',
 '3/14/2022',
 nan,
 '3/18/2015',
 '10/7/2018',
 nan,
 nan,
 nan,
 nan,
 nan,
 '4/9/2022',
 '11/9/2015',
 '4/23/2016',
 nan,
 '3/23/2015',
 '7/11/2021',
 nan,
 '8/25/2022',
 '3/17/2015',
 '3/18/2015',
 '8/9/2022',
 nan,
 nan,
 nan,
 '4/24/2016',
 '3/17/2015',
 '4/21/2022',
 '3/23/2016',
 '10/23/2016',
 '8/1/2015',
 '7/2/2022',
 '8/18/2022',
 '9/12/2022',
 nan,
 '1/16/2016',
 '3/22/2015',
 '3/12/2018',
 '3/17/2016',
 '8/22/2022',
 '5/30/2022',
 '8/21/2022',
 nan,
 '9/11/2022',
 nan,
 '3/26/2015',
 '2/28/2016',
 '3/22/2015',
 '3/23/2015',
 '9/5/2022',
 '3/19/2017',
 '5/1/2016',
 nan,
 '6/14/2022',
 '3/23/2015',
 nan,
 '3/19/2015',
 nan,
 ...]

In [219]:
new_df["last_review"] = pd.to_datetime(new_df["last_review"])

In [220]:
new_df.head()

,id,specifications,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,listings_count,availability_days,number_of_reviews_ltm,license
0,319887.0,Quaint East Austin 2BR SXSW 2016,1640158,Jeremy,NaN,78702,30.25328,-97.72968,Entire home/apt,694,4,2,2015-03-18,0.02,1,0,0,NaN
1,319894.0,The Perfect Austin Modern Home,1640172,Gary,NaN,78724,30.28354,-97.64966,Entire home/apt,192,2,171,2022-09-11,1.34,2,156,36,NaN
2,46856014.0,"Electric Fireplace+Fire Pit, Lake Fishing + ka...",375760981,Niza,NaN,78611,30.80862,-98.37400,Entire home/apt,194,2,88,2022-08-28,4.17,1,342,47,NaN
3,5456.0,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,140,2,614,2022-08-28,3.73,1,311,43,NaN
4,321675.0,3/2 House w/ Pool in Barton Hills,1142525,James,NaN,78704,30.25104,-97.78973,Entire home/apt,500,1,13,2015-10-04,0.11,1,0,0,NaN

In [221]:
new_df['id'] = new_df['id'].round(decimals = 0)
new_df['id'].values.tolist()

[319887.0,
 319894.0,
 46856014.0,
 5456.0,
 321675.0,
 5769.0,
 662245.0,
 322834.0,
 664013.0,
 6413.0,
 6448.0,
 323733.0,
 8502.0,
 666423.0,
 324480.0,
 668239.0,
 13035.0,
 325889.0,
 22166.0,
 668301.0,
 329172.0,
 669469.0,
 676107.0,
 22828.0,
 22982.0,
 329306.0,
 40285.0,
 676959.0,
 331549.0,
 47572.0,
 333442.0,
 50318.0,
 685361.0,
 685451.0,
 333815.0,
 686463.0,
 57187.0,
 69303.0,
 334616.0,
 687675.0,
 335945.0,
 692220.0,
 69810.0,
 70258.0,
 337125.0,
 70812.0,
 693890.0,
 698373.0,
 340045.0,
 699018.0,
 72833.0,
 340630.0,
 341382.0,
 73005.0,
 699485.0,
 341596.0,
 701159.0,
 701300.0,
 73289.0,
 342039.0,
 74318.0,
 701392.0,
 342243.0,
 702294.0,
 75957.0,
 343462.0,
 76497.0,
 702474.0,
 343889.0,
 702825.0,
 76501.0,
 345221.0,
 76911.0,
 704589.0,
 345473.0,
 705858.0,
 76925.0,
 76996.0,
 345536.0,
 77347.0,
 708582.0,
 347572.0,
 710276.0,
 77639.0,
 347654.0,
 78035.0,
 711149.0,
 347847.0,
 78127.0,
 347935.0,
 714922.0,
 349447.0,
 716119.0,
 78422.0,
 349635.0,
 78731.0,
 719298.0,
 350072.0,
 720315.0,
 78884.0,
 351865.0,
 79100.0,
 720369.0,
 353126.0,
 726770.0,
 79603.0,
 353261.0,
 79768.0,
 727593.0,
 353955.0,
 354263.0,
 82033.0,
 354513.0,
 728728.0,
 354569.0,
 729271.0,
 83643.0,
 355176.0,
 84771.0,
 731024.0,
 355232.0,
 89475.0,
 90898.0,
 355328.0,
 90957.0,
 733203.0,
 355792.0,
 104099.0,
 104386.0,
 356675.0,
 735592.0,
 735659.0,
 356719.0,
 735775.0,
 356837.0,
 736279.0,
 113779.0,
 116014.0,
 357529.0,
 358164.0,
 128326.0,
 140474.0,
 742593.0,
 743362.0,
 358643.0,
 362460.0,
 140504.0,
 363040.0,
 363944.0,
 145210.0,
 746317.0,
 364025.0,
 747499.0,
 364121.0,
 750935.0,
 154103.0,
 158398.0,
 364269.0,
 167459.0,
 751847.0,
 364402.0,
 760036.0,
 174828.0,
 365471.0,
 184853.0,
 761955.0,
 762400.0,
 367356.0,
 763084.0,
 765117.0,
 367366.0,
 195674.0,
 367789.0,
 202187.0,
 765450.0,
 771437.0,
 369090.0,
 775192.0,
 776649.0,
 381240.0,
 383603.0,
 785963.0,
 789994.0,
 202753.0,
 406911.0,
 207054.0,
 801521.0,
 412290.0,
 811086.0,
 208897.0,
 414543.0,
 424279.0,
 210834.0,
 813709.0,
 430683.0,
 814908.0,
 433996.0,
 825940.0,
 826750.0,
 214795.0,
 219168.0,
 435211.0,
 442720.0,
 839470.0,
 461404.0,
 846780.0,
 850518.0,
 860402.0,
 222986.0,
 224603.0,
 474901.0,
 227372.0,
 867806.0,
 479197.0,
 870943.0,
 878464.0,
 233930.0,
 485360.0,
 501861.0,
 238657.0,
 879070.0,
 509833.0,
 883802.0,
 883970.0,
 240541.0,
 510168.0,
 247770.0,
 517378.0,
 890163.0,
 517430.0,
 248515.0,
 522136.0,
 252804.0,
 890680.0,
 892124.0,
 525231.0,
 893630.0,
 254232.0,
 271052.0,
 528338.0,
 277028.0,
 894743.0,
 895352.0,
 900420.0,
 530483.0,
 904354.0,
 910250.0,
 281182.0,
 282342.0,
 295275.0,
 540377.0,
 542124.0,
 300574.0,
 560094.0,
 304808.0,
 304866.0,
 915150.0,
 916900.0,
 917823.0,
 563735.0,
 917932.0,
 305392.0,
 587572.0,
 314152.0,
 592958.0,
 315239.0,
 316630.0,
 319759.0,
 917990.0,
 602877.0,
 918204.0,
 918617.0,
 943528.0,
 603084.0,
 944957.0,
 925380.0,
 925943.0,
 925980.0,
 607536.0,
 929579.0,
 946813.0,
 609427.0,
 947412.0,
 947423.0,
 931667.0,
 932231.0,
 609618.0,
 933868.0,
 949922.0,
 620532.0,
 951272.0,
 934074.0,
 934471.0,
 935855.0,
 622495.0,
 953071.0,
 628034.0,
 954116.0,
 936349.0,
 937157.0,
 632659.0,
 939240.0,
 942734.0,
 955612.0,
 636996.0,
 956708.0,
 957282.0,
 957405.0,
 942883.0,
 637480.0,
 642674.0,
 1682346.0,
 959270.0,
 644051.0,
 959630.0,
 1683574.0,
 1690154.0,
 649833.0,
 1692542.0,
 960315.0,
 960376.0,
 660425.0,
 961883.0,
 1698089.0,
 662226.0,
 1699415.0,
 2292679.0,
 967451.0,
 2299148.0,
 968817.0,
 1703216.0,
 2303288.0,
 968844.0,
 968883.0,
 2304794.0,
 974793.0,
 1704436.0,
 1704832.0,
 2310024.0,
 1706466.0,
 1712329.0,
 975093.0,
 2310634.0,
 1717090.0,
 2311118.0,
 977492.0,
 2314342.0,
 2318061.0,
 977906.0,
 1720604.0,
 2318394.0,
 978089.0,
 2322667.0,
 980785.0,
 985426.0,
 1725159.0,
 1725964.0,
 2326028.0,
 996332.0,
 2332927.0,
 999823.0,
 1727257.0,
 2336368.0,
 1728927.0,
 1731755.0,
 1001303.0,
 2336937.0,
 1001673.0,
 1024597.0,
 2337430.0,
 1034604.0,
 1733137.0,
 1736648.0,
 2338993.0,
 2339860.0,
 1737139.0,
 2346097.0,
 1737270.0,
 2349236.0,
 1746957.0,
 1751718.0,
 1755240.0,
 1059128.0,
 1109489.0,
 2349447.0,
 2350341.0,
 2350566.0,
 2352061.0,
 1117880.0,
 1759475.0,
 1777600.0,
 2355556.0,
 1781521.0,
 1126920.0,
 2356432.0,
 1135629.0,
 1793471.0,
 2357048.0,
 1141445.0,
 2357311.0,
 1143126.0,
 1795965.0,
 2360031.0,
 1802053.0,
 2361530.0,
 1803353.0,
 1144900.0,
 2365093.0,
 2367942.0,
 1148536.0,
 1157268.0,
 1805494.0,
 1814899.0,
 2368211.0,
 2373871.0,
 1822588.0,
 1157317.0,
 2374311.0,
 1162922.0,
 1825193.0,
 1826078.0,
 2377337.0,
 1827913.0,
 1828073.0,
 2380130.0,
 1830545.0,
 1165854.0,
 2380227.0,
 2380947.0,
 1182544.0,
 2381227.0,
 2381241.0,
 1195493.0,
 1836617.0,
 1843753.0,
 2384000.0,
 1850914.0,
 1854638.0,
 1197928.0,
 2384420.0,
 1206474.0,
 1854758.0,
 1860352.0,
 1865762.0,
 2384692.0,
 1213690.0,
 2386534.0,
 1242559.0,
 2389513.0,
 1875121.0,
 2390894.0,
 2391847.0,
 1880094.0,
 1248702.0,
 2394252.0,
 1255816.0,
 1881597.0,
 2396602.0,
 1887570.0,
 1278532.0,
 2405927.0,
 2406879.0,
 2406891.0,
 1283113.0,
 1296548.0,
 1307181.0,
 1892933.0,
 1900496.0,
 1901790.0,
 2410434.0,
 1317291.0,
 1321453.0,
 2411898.0,
 1342654.0,
 1906190.0,
 1919207.0,
 2412870.0,
 1927188.0,
 1928538.0,
 2416095.0,
 1929377.0,
 1343707.0,
 2417854.0,
 1349780.0,
 1930750.0,
 2418647.0,
 1934911.0,
 1388265.0,
 2423468.0,
 1391406.0,
 1397983.0,
 1401705.0,
 1935282.0,
 1990225.0,
 1997625.0,
 2424756.0,
 2010358.0,
 1428582.0,
 2426296.0,
 1440830.0,
 2045501.0,
 2048537.0,
 2426713.0,
 2049254.0,
 2431123.0,
 2056845.0,
 1441538.0,
 1446294.0,
 2432292.0,
 1461266.0,
 2057533.0,
 2435143.0,
 2098455.0,
 1462311.0,
 2436403.0,
 2436752.0,
 2440938.0,
 1462557.0,
 2442377.0,
 1484462.0,
 2104280.0,
 2124726.0,
 2446783.0,
 1499714.0,
 2447244.0,
 1502213.0,
 1507941.0,
 2126912.0,
 2452800.0,
 2130032.0,
 2138690.0,
 1542596.0,
 1542779.0,
 1551163.0,
 2453663.0,
 1561778.0,
 2453713.0,
 2138750.0,
 2454131.0,
 2454882.0,
 2139352.0,
 1570491.0,
 2457749.0,
 2147231.0,
 2459312.0,
 1574481.0,
 1576290.0,
 2459802.0,
 1577342.0,
 2149362.0,
 2168813.0,
 2460804.0,
 2461046.0,
 2174970.0,
 2461349.0,
 2461909.0,
 1578787.0,
 2464759.0,
 1579405.0,
 2183136.0,
 2187256.0,
 2466535.0,
 2189688.0,
 1586879.0,
 2467149.0,
 2467163.0,
 1592065.0,
 2467384.0,
 2198635.0,
 2200205.0,
 2467411.0,
 2474321.0,
 1593451.0,
 2474359.0,
 2208270.0,
 2474432.0,
 1594441.0,
 2476940.0,
 1599035.0,
 2223634.0,
 2477149.0,
 2227127.0,
 1608290.0,
 2477580.0,
 1608994.0,
 2482898.0,
 1612438.0,
 1618754.0,
 2227221.0,
 2227288.0,
 2482916.0,
 2483752.0,
 2227564.0,
 2488935.0,
 2231056.0,
 1627417.0,
 2489487.0,
 1640231.0,
 2492407.0,
 2236988.0,
 2493385.0,
 2248559.0,
 1641751.0,
 1649463.0,
 2496308.0,
 1664692.0,
 2250253.0,
 2500385.0,
 2254118.0,
 1673142.0,
 2501144.0,
 1677516.0,
 2254712.0,
 2501145.0,
 2502288.0,
 2255308.0,
 1681072.0,
 2502431.0,
 2509594.0,
 3883966.0,
 2512706.0,
 3904915.0,
 2266768.0,
 2516299.0,
 2272446.0,
 3911693.0,
 2519952.0,
 2273233.0,
 2521003.0,
 2273498.0,
 3913413.0,
 2521310.0,
 2521443.0,
 3916923.0,
 2277691.0,
 2524101.0,
 2282208.0,
 3920081.0,
 2526099.0,
 3931350.0,
 2292322.0,
 2528473.0,
 4335074.0,
 3939734.0,
 2528829.0,
 2529203.0,
 3946696.0,
 4340903.0,
 2546012.0,
 4341443.0,
 3953357.0,
 2551278.0,
 3958601.0,
 4351493.0,
 2553977.0,
 2558549.0,
 2592427.0,
 4356661.0,
 4358441.0,
 3959242.0,
 2607561.0,
 3961373.0,
 3979017.0,
 4378321.0,
 2639623.0,
 4385481.0,
 3979249.0,
 2650844.0,
 3999345.0,
 4012735.0,
 4013309.0,
 4402297.0,
 2657000.0,
 4403398.0,
 4403427.0,
 4013329.0,
 2665394.0,
 4014472.0,
 4417363.0,
 2677765.0,
 4431533.0,
 4030108.0,
 2686649.0,
 4435703.0,
 2710898.0,
 4441722.0,
 4030864.0,
 2723009.0,
 2746300.0,
 2832008.0,
 4037342.0,
 4037944.0,
 4446513.0,
 4452791.0,
 2832087.0,
 4453016.0,
 4047192.0,
 2853144.0,
 4047344.0,
 4461416.0,
 2855422.0,
 4047528.0,
 2855712.0,
 4050950.0,
 4464432.0,
 2867059.0,
 4481798.0,
 4054044.0,
 2885662.0,
 4060699.0,
 4495324.0,
 4508376.0,
 2914322.0,
 2926708.0,
 4516994.0,
 4067158.0,
 2964193.0,
 4076557.0,
 4538217.0,
 2979222.0,
 4545175.0,
 4077459.0,
 2984602.0,
 4082265.0,
 4588823.0,
 2989481.0,
 4596762.0,
 4085163.0,
 4092112.0,
 2989616.0,
 4095705.0,
 4645766.0,
 2992224.0,
 4678565.0,
 4102866.0,
 2994424.0,
 4103238.0,
 4683769.0,
 3028269.0,
 4103988.0,
 3032156.0,
 4112403.0,
 4117663.0,
 4718108.0,
 3041605.0,
 4117827.0,
 4121482.0,
 3053308.0,
 4719452.0,
 3091862.0,
 4734283.0,
 4121676.0,
 3104453.0,
 4137101.0,
 4141322.0,
 4144319.0,
 4742900.0,
 4756372.0,
 3104715.0,
 4764568.0,
 3111194.0,
 4774398.0,
 4145599.0,
 4150237.0,
 4151136.0,
 3121477.0,
 4154464.0,
 4775925.0,
 4776659.0,
 3122479.0,
 3124593.0,
 4795682.0,
 4808400.0,
 4156208.0,
 4157318.0,
 3125271.0,
 4809429.0,
 3151369.0,
 3154788.0,
 4811246.0,
 3163510.0,
 4814446.0,
 4163685.0,
 3214547.0,
 4164084.0,
 4815071.0,
 3225770.0,
 4820267.0,
 4821958.0,
 4164781.0,
 3229143.0,
 4171527.0,
 4848222.0,
 3230604.0,
 4849820.0,
 3271554.0,
 4855450.0,
 4856743.0,
 4171708.0,
 3271751.0,
 4171932.0,
 4871772.0,
 3281553.0,
 4871898.0,
 4881360.0,
 4886509.0,
 3294395.0,
 4900223.0,
 4172577.0,
 4174180.0,
 3294758.0,
 4901443.0,
 3349126.0,
 4905837.0,
 4174892.0,
 3349679.0,
 3386939.0,
 4184049.0,
 4906604.0,
 4906733.0,
 4914582.0,
 3404974.0,
 4926196.0,
 4184743.0,
 4186778.0,
 3416245.0,
 4191216.0,
 4931574.0,
 4932506.0,
 3424259.0,
 4936914.0,
 4194853.0,
 3432804.0,
 4195180.0,
 4196884.0,
 4941458.0,
 3432834.0,
 4942407.0,
 4198303.0,
 3475010.0,
 4198456.0,
 4943050.0,
 4947590.0,
 3478000.0,
 4955455.0,
 4966325.0,
 4199426.0,
 3495822.0,
 4202378.0,
 3504013.0,
 4204808.0,
 3513732.0,
 4966926.0,
 3534046.0,
 4974255.0,
 4974594.0,
 4217792.0,
 4218296.0,
 3539813.0,
 4224100.0,
 4986597.0,
 3543315.0,
 4224800.0,
 3543410.0,
 4997682.0,
 4998371.0,
 3548997.0,
 4225262.0,
 4226176.0,
 3549253.0,
 5001074.0,
 5006191.0,
 5007355.0,
 3549443.0,
 5013929.0,
 4227044.0,
 3567906.0,
 4227584.0,
 4235207.0,
 5020354.0,
 3609272.0,
 5031470.0,
 4235416.0,
 3613678.0,
 4236671.0,
 3615030.0,
 4242159.0,
 5037023.0,
 3629021.0,
 5037417.0,
 4243313.0,
 3637181.0,
 4244284.0,
 4250366.0,
 5037508.0,
 5046776.0,
 3654144.0,
 5047878.0,
 5049688.0,
 4255787.0,
 3689085.0,
 4256978.0,
 4258466.0,
 3791735.0,
 4267874.0,
 4278536.0,
 5050692.0,
 5051186.0,
 5067130.0,
 3801572.0,
 5078787.0,
 5081777.0,
 4279470.0,
 3802304.0,
 4279738.0,
 4284646.0,
 5083004.0,
 5084388.0,
 3831262.0,
 5085831.0,
 4288292.0,
 3835751.0,
 4288403.0,
 4289075.0,
 5086211.0,
 5086356.0,
 3840726.0,
 5094445.0,
 5102612.0,
 5103926.0,
 5104248.0,
 4293731.0,
 4303864.0,
 3862246.0,
 4304606.0,
 4309531.0,
 3868266.0,
 4311590.0,
 5105066.0,
 5105770.0,
 5106886.0,
 5113279.0,
 5115219.0,
 3875997.0,
 4333425.0,
 3876436.0,
 5414027.0,
 5116645.0,
 5116729.0,
 5122138.0,
 5122450.0,
 5593491.0,
 5122828.0,
 5123540.0,
 5415038.0,
 5415285.0,
 5593563.0,
 5415298.0,
 5124417.0,
 5600950.0,
 5126932.0,
 5136870.0,
 5148991.0,
 5601570.0,
 5154179.0,
 5162827.0,
 5418428.0,
 5420650.0,
 5602667.0,
 5420745.0,
 5164038.0,
 5602972.0,
 5603014.0,
 5169603.0,
 5172784.0,
 5420782.0,
 5603829.0,
 5422314.0,
 5612495.0,
 5422618.0,
 5422964.0,
 5173181.0,
 5615072.0,
 5179186.0,
 5423839.0,
 5423999.0,
 5616235.0,
 5424528.0,
 5429585.0,
 5617119.0,
 5430429.0,
 5185181.0,
 5192062.0,
 5617149.0,
 5194094.0,
 5431225.0,
 5431978.0,
 5618093.0,
 5432556.0,
 5618324.0,
 ...]

Removing the trailing zeros from the id column

In [222]:
new_df['id'] = new_df['id'].astype('int')

In [223]:
new_df['id'].values.tolist()

[319887,
 319894,
 46856014,
 5456,
 321675,
 5769,
 662245,
 322834,
 664013,
 6413,
 6448,
 323733,
 8502,
 666423,
 324480,
 668239,
 13035,
 325889,
 22166,
 668301,
 329172,
 669469,
 676107,
 22828,
 22982,
 329306,
 40285,
 676959,
 331549,
 47572,
 333442,
 50318,
 685361,
 685451,
 333815,
 686463,
 57187,
 69303,
 334616,
 687675,
 335945,
 692220,
 69810,
 70258,
 337125,
 70812,
 693890,
 698373,
 340045,
 699018,
 72833,
 340630,
 341382,
 73005,
 699485,
 341596,
 701159,
 701300,
 73289,
 342039,
 74318,
 701392,
 342243,
 702294,
 75957,
 343462,
 76497,
 702474,
 343889,
 702825,
 76501,
 345221,
 76911,
 704589,
 345473,
 705858,
 76925,
 76996,
 345536,
 77347,
 708582,
 347572,
 710276,
 77639,
 347654,
 78035,
 711149,
 347847,
 78127,
 347935,
 714922,
 349447,
 716119,
 78422,
 349635,
 78731,
 719298,
 350072,
 720315,
 78884,
 351865,
 79100,
 720369,
 353126,
 726770,
 79603,
 353261,
 79768,
 727593,
 353955,
 354263,
 82033,
 354513,
 728728,
 354569,
 729271,
 83643,
 355176,
 84771,
 731024,
 355232,
 89475,
 90898,
 355328,
 90957,
 733203,
 355792,
 104099,
 104386,
 356675,
 735592,
 735659,
 356719,
 735775,
 356837,
 736279,
 113779,
 116014,
 357529,
 358164,
 128326,
 140474,
 742593,
 743362,
 358643,
 362460,
 140504,
 363040,
 363944,
 145210,
 746317,
 364025,
 747499,
 364121,
 750935,
 154103,
 158398,
 364269,
 167459,
 751847,
 364402,
 760036,
 174828,
 365471,
 184853,
 761955,
 762400,
 367356,
 763084,
 765117,
 367366,
 195674,
 367789,
 202187,
 765450,
 771437,
 369090,
 775192,
 776649,
 381240,
 383603,
 785963,
 789994,
 202753,
 406911,
 207054,
 801521,
 412290,
 811086,
 208897,
 414543,
 424279,
 210834,
 813709,
 430683,
 814908,
 433996,
 825940,
 826750,
 214795,
 219168,
 435211,
 442720,
 839470,
 461404,
 846780,
 850518,
 860402,
 222986,
 224603,
 474901,
 227372,
 867806,
 479197,
 870943,
 878464,
 233930,
 485360,
 501861,
 238657,
 879070,
 509833,
 883802,
 883970,
 240541,
 510168,
 247770,
 517378,
 890163,
 517430,
 248515,
 522136,
 252804,
 890680,
 892124,
 525231,
 893630,
 254232,
 271052,
 528338,
 277028,
 894743,
 895352,
 900420,
 530483,
 904354,
 910250,
 281182,
 282342,
 295275,
 540377,
 542124,
 300574,
 560094,
 304808,
 304866,
 915150,
 916900,
 917823,
 563735,
 917932,
 305392,
 587572,
 314152,
 592958,
 315239,
 316630,
 319759,
 917990,
 602877,
 918204,
 918617,
 943528,
 603084,
 944957,
 925380,
 925943,
 925980,
 607536,
 929579,
 946813,
 609427,
 947412,
 947423,
 931667,
 932231,
 609618,
 933868,
 949922,
 620532,
 951272,
 934074,
 934471,
 935855,
 622495,
 953071,
 628034,
 954116,
 936349,
 937157,
 632659,
 939240,
 942734,
 955612,
 636996,
 956708,
 957282,
 957405,
 942883,
 637480,
 642674,
 1682346,
 959270,
 644051,
 959630,
 1683574,
 1690154,
 649833,
 1692542,
 960315,
 960376,
 660425,
 961883,
 1698089,
 662226,
 1699415,
 2292679,
 967451,
 2299148,
 968817,
 1703216,
 2303288,
 968844,
 968883,
 2304794,
 974793,
 1704436,
 1704832,
 2310024,
 1706466,
 1712329,
 975093,
 2310634,
 1717090,
 2311118,
 977492,
 2314342,
 2318061,
 977906,
 1720604,
 2318394,
 978089,
 2322667,
 980785,
 985426,
 1725159,
 1725964,
 2326028,
 996332,
 2332927,
 999823,
 1727257,
 2336368,
 1728927,
 1731755,
 1001303,
 2336937,
 1001673,
 1024597,
 2337430,
 1034604,
 1733137,
 1736648,
 2338993,
 2339860,
 1737139,
 2346097,
 1737270,
 2349236,
 1746957,
 1751718,
 1755240,
 1059128,
 1109489,
 2349447,
 2350341,
 2350566,
 2352061,
 1117880,
 1759475,
 1777600,
 2355556,
 1781521,
 1126920,
 2356432,
 1135629,
 1793471,
 2357048,
 1141445,
 2357311,
 1143126,
 1795965,
 2360031,
 1802053,
 2361530,
 1803353,
 1144900,
 2365093,
 2367942,
 1148536,
 1157268,
 1805494,
 1814899,
 2368211,
 2373871,
 1822588,
 1157317,
 2374311,
 1162922,
 1825193,
 1826078,
 2377337,
 1827913,
 1828073,
 2380130,
 1830545,
 1165854,
 2380227,
 2380947,
 1182544,
 2381227,
 2381241,
 1195493,
 1836617,
 1843753,
 2384000,
 1850914,
 1854638,
 1197928,
 2384420,
 1206474,
 1854758,
 1860352,
 1865762,
 2384692,
 1213690,
 2386534,
 1242559,
 2389513,
 1875121,
 2390894,
 2391847,
 1880094,
 1248702,
 2394252,
 1255816,
 1881597,
 2396602,
 1887570,
 1278532,
 2405927,
 2406879,
 2406891,
 1283113,
 1296548,
 1307181,
 1892933,
 1900496,
 1901790,
 2410434,
 1317291,
 1321453,
 2411898,
 1342654,
 1906190,
 1919207,
 2412870,
 1927188,
 1928538,
 2416095,
 1929377,
 1343707,
 2417854,
 1349780,
 1930750,
 2418647,
 1934911,
 1388265,
 2423468,
 1391406,
 1397983,
 1401705,
 1935282,
 1990225,
 1997625,
 2424756,
 2010358,
 1428582,
 2426296,
 1440830,
 2045501,
 2048537,
 2426713,
 2049254,
 2431123,
 2056845,
 1441538,
 1446294,
 2432292,
 1461266,
 2057533,
 2435143,
 2098455,
 1462311,
 2436403,
 2436752,
 2440938,
 1462557,
 2442377,
 1484462,
 2104280,
 2124726,
 2446783,
 1499714,
 2447244,
 1502213,
 1507941,
 2126912,
 2452800,
 2130032,
 2138690,
 1542596,
 1542779,
 1551163,
 2453663,
 1561778,
 2453713,
 2138750,
 2454131,
 2454882,
 2139352,
 1570491,
 2457749,
 2147231,
 2459312,
 1574481,
 1576290,
 2459802,
 1577342,
 2149362,
 2168813,
 2460804,
 2461046,
 2174970,
 2461349,
 2461909,
 1578787,
 2464759,
 1579405,
 2183136,
 2187256,
 2466535,
 2189688,
 1586879,
 2467149,
 2467163,
 1592065,
 2467384,
 2198635,
 2200205,
 2467411,
 2474321,
 1593451,
 2474359,
 2208270,
 2474432,
 1594441,
 2476940,
 1599035,
 2223634,
 2477149,
 2227127,
 1608290,
 2477580,
 1608994,
 2482898,
 1612438,
 1618754,
 2227221,
 2227288,
 2482916,
 2483752,
 2227564,
 2488935,
 2231056,
 1627417,
 2489487,
 1640231,
 2492407,
 2236988,
 2493385,
 2248559,
 1641751,
 1649463,
 2496308,
 1664692,
 2250253,
 2500385,
 2254118,
 1673142,
 2501144,
 1677516,
 2254712,
 2501145,
 2502288,
 2255308,
 1681072,
 2502431,
 2509594,
 3883966,
 2512706,
 3904915,
 2266768,
 2516299,
 2272446,
 3911693,
 2519952,
 2273233,
 2521003,
 2273498,
 3913413,
 2521310,
 2521443,
 3916923,
 2277691,
 2524101,
 2282208,
 3920081,
 2526099,
 3931350,
 2292322,
 2528473,
 4335074,
 3939734,
 2528829,
 2529203,
 3946696,
 4340903,
 2546012,
 4341443,
 3953357,
 2551278,
 3958601,
 4351493,
 2553977,
 2558549,
 2592427,
 4356661,
 4358441,
 3959242,
 2607561,
 3961373,
 3979017,
 4378321,
 2639623,
 4385481,
 3979249,
 2650844,
 3999345,
 4012735,
 4013309,
 4402297,
 2657000,
 4403398,
 4403427,
 4013329,
 2665394,
 4014472,
 4417363,
 2677765,
 4431533,
 4030108,
 2686649,
 4435703,
 2710898,
 4441722,
 4030864,
 2723009,
 2746300,
 2832008,
 4037342,
 4037944,
 4446513,
 4452791,
 2832087,
 4453016,
 4047192,
 2853144,
 4047344,
 4461416,
 2855422,
 4047528,
 2855712,
 4050950,
 4464432,
 2867059,
 4481798,
 4054044,
 2885662,
 4060699,
 4495324,
 4508376,
 2914322,
 2926708,
 4516994,
 4067158,
 2964193,
 4076557,
 4538217,
 2979222,
 4545175,
 4077459,
 2984602,
 4082265,
 4588823,
 2989481,
 4596762,
 4085163,
 4092112,
 2989616,
 4095705,
 4645766,
 2992224,
 4678565,
 4102866,
 2994424,
 4103238,
 4683769,
 3028269,
 4103988,
 3032156,
 4112403,
 4117663,
 4718108,
 3041605,
 4117827,
 4121482,
 3053308,
 4719452,
 3091862,
 4734283,
 4121676,
 3104453,
 4137101,
 4141322,
 4144319,
 4742900,
 4756372,
 3104715,
 4764568,
 3111194,
 4774398,
 4145599,
 4150237,
 4151136,
 3121477,
 4154464,
 4775925,
 4776659,
 3122479,
 3124593,
 4795682,
 4808400,
 4156208,
 4157318,
 3125271,
 4809429,
 3151369,
 3154788,
 4811246,
 3163510,
 4814446,
 4163685,
 3214547,
 4164084,
 4815071,
 3225770,
 4820267,
 4821958,
 4164781,
 3229143,
 4171527,
 4848222,
 3230604,
 4849820,
 3271554,
 4855450,
 4856743,
 4171708,
 3271751,
 4171932,
 4871772,
 3281553,
 4871898,
 4881360,
 4886509,
 3294395,
 4900223,
 4172577,
 4174180,
 3294758,
 4901443,
 3349126,
 4905837,
 4174892,
 3349679,
 3386939,
 4184049,
 4906604,
 4906733,
 4914582,
 3404974,
 4926196,
 4184743,
 4186778,
 3416245,
 4191216,
 4931574,
 4932506,
 3424259,
 4936914,
 4194853,
 3432804,
 4195180,
 4196884,
 4941458,
 3432834,
 4942407,
 4198303,
 3475010,
 4198456,
 4943050,
 4947590,
 3478000,
 4955455,
 4966325,
 4199426,
 3495822,
 4202378,
 3504013,
 4204808,
 3513732,
 4966926,
 3534046,
 4974255,
 4974594,
 4217792,
 4218296,
 3539813,
 4224100,
 4986597,
 3543315,
 4224800,
 3543410,
 4997682,
 4998371,
 3548997,
 4225262,
 4226176,
 3549253,
 5001074,
 5006191,
 5007355,
 3549443,
 5013929,
 4227044,
 3567906,
 4227584,
 4235207,
 5020354,
 3609272,
 5031470,
 4235416,
 3613678,
 4236671,
 3615030,
 4242159,
 5037023,
 3629021,
 5037417,
 4243313,
 3637181,
 4244284,
 4250366,
 5037508,
 5046776,
 3654144,
 5047878,
 5049688,
 4255787,
 3689085,
 4256978,
 4258466,
 3791735,
 4267874,
 4278536,
 5050692,
 5051186,
 5067130,
 3801572,
 5078787,
 5081777,
 4279470,
 3802304,
 4279738,
 4284646,
 5083004,
 5084388,
 3831262,
 5085831,
 4288292,
 3835751,
 4288403,
 4289075,
 5086211,
 5086356,
 3840726,
 5094445,
 5102612,
 5103926,
 5104248,
 4293731,
 4303864,
 3862246,
 4304606,
 4309531,
 3868266,
 4311590,
 5105066,
 5105770,
 5106886,
 5113279,
 5115219,
 3875997,
 4333425,
 3876436,
 5414027,
 5116645,
 5116729,
 5122138,
 5122450,
 5593491,
 5122828,
 5123540,
 5415038,
 5415285,
 5593563,
 5415298,
 5124417,
 5600950,
 5126932,
 5136870,
 5148991,
 5601570,
 5154179,
 5162827,
 5418428,
 5420650,
 5602667,
 5420745,
 5164038,
 5602972,
 5603014,
 5169603,
 5172784,
 5420782,
 5603829,
 5422314,
 5612495,
 5422618,
 5422964,
 5173181,
 5615072,
 5179186,
 5423839,
 5423999,
 5616235,
 5424528,
 5429585,
 5617119,
 5430429,
 5185181,
 5192062,
 5617149,
 5194094,
 5431225,
 5431978,
 5618093,
 5432556,
 5618324,
 ...]

Check the format of 'Date' column

In [224]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18330 entries, 0 to 18329
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     18330 non-null  int32
 1   specifications         18330 non-null  object
 2   host_id                18330 non-null  int64
 3   host_name              18213 non-null  object
 4   neighbourhood_group    0 non-null      float64
 5   neighbourhood          18330 non-null  int64
 6   latitude               18330 non-null  float64
 7   longitude              18330 non-null  float64
 8   room_type              18330 non-null  object
 9   price                  18330 non-null  int64
 10  minimum_nights         18330 non-null  int64
 11  number_of_reviews      18330 non-null  int64
 12  last_review            14928 non-null  datetime64[ns]
 13  reviews_per_month      14928 non-null  float64
 14  listings_count         18330 non-null  int64
 15  availability_days      18330 non-null  int64
 16  number_of_reviews_ltm  18330 non-null  int64
 17  license                0 non-null      float64
dtypes: datetime64[ns](1), float64(5), int32(1), int64(8), object(3)
memory usage: 2.4+ MB

### 3- Fix missing and invalid values in data.

Removing the time from the "last_review" column.

In [225]:
new_df['last_review'] = pd.to_datetime(new_df['last_review']).dt.date

Replace "host_name" with string "unknown" for NaN
Replace "last_review" with string "0000-00-00" for NaN

In [226]:
new_df[['last_review']] = new_df[['last_review']].fillna('0000-00-00')

In [227]:
new_df[['host_name']] = new_df[['host_name']].fillna('unknown')

In [228]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18330 entries, 0 to 18329
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     18330 non-null  int32
 1   specifications         18330 non-null  object
 2   host_id                18330 non-null  int64
 3   host_name              18330 non-null  object
 4   neighbourhood_group    0 non-null      float64
 5   neighbourhood          18330 non-null  int64
 6   latitude               18330 non-null  float64
 7   longitude              18330 non-null  float64
 8   room_type              18330 non-null  object
 9   price                  18330 non-null  int64
 10  minimum_nights         18330 non-null  int64
 11  number_of_reviews      18330 non-null  int64
 12  last_review            18330 non-null  object
 13  reviews_per_month      14928 non-null  float64
 14  listings_count         18330 non-null  int64
 15  availability_days      18330 non-null  int64
 16  number_of_reviews_ltm  18330 non-null  int64
 17  license                0 non-null      float64
dtypes: float64(5), int32(1), int64(8), object(4)
memory usage: 2.4+ MB

Fill the missing values in the "reviews_per_month" with zeros then check the dataframe info()

In [229]:
new_df['reviews_per_month'] = new_df['reviews_per_month'].fillna(0)

Check the "last_review" date column by missing value sum

In [230]:
new_df['last_review'].isnull().sum()

0

In [234]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18330 entries, 0 to 18329
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     18330 non-null  int32
 1   specifications         18330 non-null  object
 2   host_id                18330 non-null  int64
 3   host_name              18330 non-null  object
 4   neighbourhood_group    0 non-null      float64
 5   neighbourhood          18330 non-null  int64
 6   latitude               18330 non-null  float64
 7   longitude              18330 non-null  float64
 8   room_type              18330 non-null  object
 9   price                  18330 non-null  int64
 10  minimum_nights         18330 non-null  int64
 11  number_of_reviews      18330 non-null  int64
 12  last_review            18330 non-null  object
 13  reviews_per_month      18330 non-null  float64
 14  listings_count         18330 non-null  int64
 15  availability_days      18330 non-null  int64
 16  number_of_reviews_ltm  18330 non-null  int64
 17  license                0 non-null      float64
 18  monthly_reviews        18330 non-null  int64
dtypes: float64(5), int32(1), int64(9), object(4)
memory usage: 2.6+ MB

### 4- Create new columns based on existing columns or calculations.

In [235]:
new_df['monthly_reviews'] = new_df['reviews_per_month'].apply(np.ceil)

In [236]:
new_df['monthly_reviews'] = new_df['monthly_reviews'].round(0).astype('int64')

Create a new column based on condition using list conprehension

In [237]:
new_df['availibility_status'] = ["not_available" if x == 0 else "available" for x in new_df['availability_days']]

In [238]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18330 entries, 0 to 18329
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     18330 non-null  int32
 1   specifications         18330 non-null  object
 2   host_id                18330 non-null  int64
 3   host_name              18330 non-null  object
 4   neighbourhood_group    0 non-null      float64
 5   neighbourhood          18330 non-null  int64
 6   latitude               18330 non-null  float64
 7   longitude              18330 non-null  float64
 8   room_type              18330 non-null  object
 9   price                  18330 non-null  int64
 10  minimum_nights         18330 non-null  int64
 11  number_of_reviews      18330 non-null  int64
 12  last_review            18330 non-null  object
 13  reviews_per_month      18330 non-null  float64
 14  listings_count         18330 non-null  int64
 15  availability_days      18330 non-null  int64
 16  number_of_reviews_ltm  18330 non-null  int64
 17  license                0 non-null      float64
 18  monthly_reviews        18330 non-null  int64
 19  availibility_status    18330 non-null  object
dtypes: float64(5), int32(1), int64(9), object(5)
memory usage: 2.7+ MB

### 5- Drop column(s) from your dataset.

Now Dropping two columns with zero values

In [239]:
new_df = new_df.drop(["neighbourhood_group", "license"], axis=1)

Now the count of columns changed

In [240]:
new_df.columns

Index(['id', 'specifications', 'host_id', 'host_name', 'neighbourhood',
       'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'listings_count', 'availability_days', 'number_of_reviews_ltm',
       'monthly_reviews', 'availibility_status'],
      dtype='object')

### 6- Drop a row(s) from your dataset.

In [241]:
new_df.drop([0, 1])

,id,specifications,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,listings_count,availability_days,number_of_reviews_ltm,monthly_reviews,availibility_status
2,46856014,"Electric Fireplace+Fire Pit, Lake Fishing + ka...",375760981,Niza,78611,30.80862,-98.37400,Entire home/apt,194,2,88,2022-08-28,4.17,1,342,47,5,available
3,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,78702,30.26057,-97.73441,Entire home/apt,140,2,614,2022-08-28,3.73,1,311,43,4,available
4,321675,3/2 House w/ Pool in Barton Hills,1142525,James,78704,30.25104,-97.78973,Entire home/apt,500,1,13,2015-10-04,0.11,1,0,0,1,not_available
5,5769,NW Austin Room,8186,Elizabeth,78729,30.45697,-97.78422,Private room,41,1,269,2022-08-16,1.78,1,3,5,2,available
6,662245,2B/2B Condo in Downtown Austin,3343870,Brandon,78703,30.26869,-97.75165,Entire home/apt,493,5,2,2014-03-13,0.02,1,0,0,1,not_available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18325,-2147483648,Marble Falls 3bdr Condo,451860097,Danielle,78654,30.55161,-98.28529,Entire home/apt,169,2,0,0000-00-00,0.00,8,73,0,0,available
18326,-2147483648,Escape to Lake Travis,15763079,Meg,78645,30.42382,-98.02781,Private room,70,2,0,0000-00-00,0.00,4,0,0,0,not_available
18327,-2147483648,The Aquarium Downstairs Apartment with King Bed,434036377,Amelia,78666,29.88104,-97.94400,Entire home/apt,250,2,2,2022-07-17,0.91,5,1,2,1,available
18328,-2147483648,Cheerful 2 Bedroom Home with Yoga Studio & Office,5330559,David,78664,30.48185,-97.65408,Entire home/apt,139,2,9,2022-08-27,3.75,1,0,9,4,not_available
18329,-2147483648,Shores at Lake Travis Dec 23-30th Week Rental,270602249,Frank,78645,30.41951,-98.01685,Entire home/apt,184,3,0,0000-00-00,0.00,1,0,0,0,not_available

In [242]:
new_df.shape

(18330, 18)

### 7- Sort your data based on multiple variables.

Sorting two columns, 'id' and 'last_review' by ascending true

In [245]:
new_df = new_df.sort_values(['id', 'last_review'],
              ascending = [False, True])

In [246]:
new_df.head()

,id,specifications,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,listings_count,availability_days,number_of_reviews_ltm,monthly_reviews,availibility_status
9740,54409377,"1BD/Austin - Kitchen, Rooftop Pool & Firepit!",263243483,Luxorts,78701,30.27247,-97.74800,Entire home/apt,349,3,0,0000-00-00,0.00,13,343,0,0,available
9739,54409363,"Fun 3 bedroom house with pool, hot tub & studio!",19353541,Blake,78734,30.37794,-97.95607,Entire home/apt,614,2,2,2022-07-31,0.49,6,364,2,1,available
9732,54406327,Paradise on Earth,435803122,Romeo,78753,30.39889,-97.66231,Entire home/apt,150,2,3,2022-08-01,0.46,1,176,3,1,available
14175,54405970,"AUSTIN,TESLA,COTA,UNI OF TEXAS ALL MINUTES AWAY",420437726,Edward,78653,30.35421,-97.52630,Entire home/apt,158,3,8,2022-06-05,1.26,1,153,8,2,available
9724,54405576,"Close to Downtown! Modern, Clean 1B w/Gym and ...",243684594,Shirlene,78741,30.23942,-97.72241,Entire home/apt,103,1,30,2022-08-21,4.19,59,356,30,5,available

### 8- Filter your data based on some condition.

To filter for rows that contain a certain string in a pandas DataFrame

In [247]:
filter_df = new_df[new_df["room_type"].str.contains("Entire home/apt")]
filter_df.head()

,id,specifications,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,listings_count,availability_days,number_of_reviews_ltm,monthly_reviews,availibility_status
9740,54409377,"1BD/Austin - Kitchen, Rooftop Pool & Firepit!",263243483,Luxorts,78701,30.27247,-97.74800,Entire home/apt,349,3,0,0000-00-00,0.00,13,343,0,0,available
9739,54409363,"Fun 3 bedroom house with pool, hot tub & studio!",19353541,Blake,78734,30.37794,-97.95607,Entire home/apt,614,2,2,2022-07-31,0.49,6,364,2,1,available
9732,54406327,Paradise on Earth,435803122,Romeo,78753,30.39889,-97.66231,Entire home/apt,150,2,3,2022-08-01,0.46,1,176,3,1,available
14175,54405970,"AUSTIN,TESLA,COTA,UNI OF TEXAS ALL MINUTES AWAY",420437726,Edward,78653,30.35421,-97.52630,Entire home/apt,158,3,8,2022-06-05,1.26,1,153,8,2,available
9724,54405576,"Close to Downtown! Modern, Clean 1B w/Gym and ...",243684594,Shirlene,78741,30.23942,-97.72241,Entire home/apt,103,1,30,2022-08-21,4.19,59,356,30,5,available

### 9- Convert all the string values to upper or lower cases in one column.

In [248]:
filter_df['room_type'] = filter_df['room_type'].str.upper()
filter_df.head()

,id,specifications,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,listings_count,availability_days,number_of_reviews_ltm,monthly_reviews,availibility_status
9740,54409377,"1BD/Austin - Kitchen, Rooftop Pool & Firepit!",263243483,Luxorts,78701,30.27247,-97.74800,ENTIRE HOME/APT,349,3,0,0000-00-00,0.00,13,343,0,0,available
9739,54409363,"Fun 3 bedroom house with pool, hot tub & studio!",19353541,Blake,78734,30.37794,-97.95607,ENTIRE HOME/APT,614,2,2,2022-07-31,0.49,6,364,2,1,available
9732,54406327,Paradise on Earth,435803122,Romeo,78753,30.39889,-97.66231,ENTIRE HOME/APT,150,2,3,2022-08-01,0.46,1,176,3,1,available
14175,54405970,"AUSTIN,TESLA,COTA,UNI OF TEXAS ALL MINUTES AWAY",420437726,Edward,78653,30.35421,-97.52630,ENTIRE HOME/APT,158,3,8,2022-06-05,1.26,1,153,8,2,available
9724,54405576,"Close to Downtown! Modern, Clean 1B w/Gym and ...",243684594,Shirlene,78741,30.23942,-97.72241,ENTIRE HOME/APT,103,1,30,2022-08-21,4.19,59,356,30,5,available

### 10- Check whether numeric values are present in a given column of your dataframe.

In [249]:
# creating bool series with new column
filter_df['specifications_numeric'] = list(map(lambda x: x.isdigit(), filter_df['specifications']))
filter_df.head()

,id,specifications,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,listings_count,availability_days,number_of_reviews_ltm,monthly_reviews,availibility_status,specifications_numeric
9740,54409377,"1BD/Austin - Kitchen, Rooftop Pool & Firepit!",263243483,Luxorts,78701,30.27247,-97.74800,ENTIRE HOME/APT,349,3,0,0000-00-00,0.00,13,343,0,0,available,False
9739,54409363,"Fun 3 bedroom house with pool, hot tub & studio!",19353541,Blake,78734,30.37794,-97.95607,ENTIRE HOME/APT,614,2,2,2022-07-31,0.49,6,364,2,1,available,False
9732,54406327,Paradise on Earth,435803122,Romeo,78753,30.39889,-97.66231,ENTIRE HOME/APT,150,2,3,2022-08-01,0.46,1,176,3,1,available,False
14175,54405970,"AUSTIN,TESLA,COTA,UNI OF TEXAS ALL MINUTES AWAY",420437726,Edward,78653,30.35421,-97.52630,ENTIRE HOME/APT,158,3,8,2022-06-05,1.26,1,153,8,2,available,False
9724,54405576,"Close to Downtown! Modern, Clean 1B w/Gym and ...",243684594,Shirlene,78741,30.23942,-97.72241,ENTIRE HOME/APT,103,1,30,2022-08-21,4.19,59,356,30,5,available,False

### 11- Group your dataset by one column, and get the mean, min, and max values by group.

In [250]:
result_df = new_df.groupby('room_type').agg({'price': ['mean', 'min', 'max']})
  
print("Mean, min, and max values of Top Speed grouped by Vehicle Type")
print(result_df)

Mean, min, and max values of Top Speed grouped by Vehicle Type
                      price
                       mean min    max
room_type
Entire home/apt  436.371825   1  23000
Hotel room       313.583333   0   3004
Private room     120.065430   5  10000
Shared room       67.165414  15    700

### 12- Group your dataset by two columns and then sort the aggregated results within the groups.

In [256]:
df = new_df.groupby(['room_type'])['price'].mean().sort_values(ascending=False).head(2)
df

room_type
Entire home/apt    436.371825
Hotel room         313.583333
Name: price, dtype: float64

In [257]:
# Function checking for missing values
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [258]:
missing_values_table(new_df)

Your selected dataframe has 18 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

### Summary statistics means, medians, quartiles

In [259]:
new_df.describe()

,id,host_id,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,listings_count,availability_days,number_of_reviews_ltm,monthly_reviews
count,1.833000e+04,1.833000e+04,18330.000000,18330.000000,18330.000000,18330.000000,18330.000000,18330.000000,18330.000000,18330.000000,18330.000000,18330.000000,18330.000000
mean,-5.535087e+08,1.356883e+08,78697.203110,30.295382,-97.806859,380.360284,6.620022,35.408402,1.356762,17.412821,169.779651,11.538352,1.805074
std,9.669704e+08,1.416007e+08,98.749257,0.152987,0.187524,1115.693815,23.326103,71.070039,1.734411,41.276050,138.734835,18.353477,1.788942
min,-2.147484e+09,2.300000e+01,76530.000000,29.674790,-98.606320,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,-2.147484e+09,1.969290e+07,78669.000000,30.237835,-97.823850,100.000000,1.000000,1.000000,0.070000,1.000000,29.000000,0.000000,1.000000
50%,2.297780e+07,8.174628e+07,78704.000000,30.272260,-97.747755,169.000000,2.000000,9.000000,0.745000,2.000000,155.500000,4.000000,1.000000
75%,4.537043e+07,2.195006e+08,78739.000000,30.360775,-97.717181,296.000000,3.000000,36.000000,2.000000,9.000000,324.000000,16.000000,2.000000
max,5.440938e+07,4.790769e+08,78759.000000,31.042608,-97.186290,23000.000000,1100.000000,1062.000000,35.180000,207.000000,365.000000,316.000000,36.000000

# Conclusions  

After exploring your dataset, provide a short summary of what you noticed from this dataset.  What would you explore further with more time?