# **Data_602 Final Project**
### By Mubashira Qari

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

### Describing Dataset

This is an Airbnb listing dataset. This dataset is acquired from the Airbnb website. It has details about the host, location, type of listing, and reviews, along with more interesting features in different columns. It consists of (18337, 18) rows and columns and needs thorough data cleaning. The analysis will provide interesting insights and guidelines on choosing Airbnb for your next vacation trip.

id                                float64            Airbnb's unique identifier for the host/user
name                               object            The name of the listing
host_id                             int64            unique identifier for the host
host_name                          object            Name of the host
neighbourhood_group               float64            next town zipcode
neighbourhood                       int64            Field that can be filled using the lat & Long
latitude                          float64            latitude
longitude                         float64            longitude
room_type                          object            type of rental space
price                               int64            price
minimum_nights                      int64            minimum nights available
number_of_reviews                   int64            count of reviews
last_review                        object            date of last review
reviews_per_month                 float64            per month reviews
calculated_host_listings_count      int64            total host's listing count
availability_365                    int64            Availibility for the number of days
number_of_reviews_ltm               int64            Count of reviews in last 12 months
license                                              license or permit for listing

### Data Source Link

Data Source: http://insideairbnb.com/get-the-data/
Data Dictionary: https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit#gid=1322284596

### Justification for Dataset Selection

Whenever it comes to traveling, there is always a search for a good rating Airbnb listing. There are many important factors that need to consider. For example, the room type, comfort rating, activity, top hosts, rent, and many others. And paying close attention to your selection adds a lot to the enjoyment of the trip. For this reason, I decided to choose the Airbnb dataset.


# Data Exploration (EDA)
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

### **Importing Libraries**

#### The first step is to import Pandas and NumPy libraries for data exploration, cleaning and manipulation.

In [1]:
import numpy as np
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import warnings
warnings.filterwarnings('ignore')

### **Importing CSV data file into pandas dataframe**

Defining the path for reading the CSV file. 

Using Pandas "read_csv" function to read the file into Pandas dataframe.

And by passing the limit to view 5 row in the "head() function.

Similarly, viewing the last 5 rows using the "tail()" function.

In [2]:
csv_path = 'https://raw.githubusercontent.com/uzmabb182/Data602_Assignments/main/resources/School_Learning_Modalities.csv'
modality_df = pd.read_csv(csv_path, encoding="utf-8")
modality_df.head(5)

,District NCES ID,District Name,Week,Learning Modality,Operational Schools,Student Count,City,State,ZIP Code
0,100005,Albertville City,10/23/2022 0:00,In Person,6,5824.0,Albertville,AL,35950
1,100006,Marshall County,10/23/2022 0:00,In Person,15,5764.0,Guntersville,AL,35976
2,100007,Hoover City,10/23/2022 0:00,In Person,18,14061.0,Hoover,AL,35243
3,100008,Madison City,10/23/2022 0:00,In Person,11,11695.0,Madison,AL,35758
4,100011,Leeds City,10/23/2022 0:00,In Person,4,2076.0,Leeds,AL,35094

In [3]:
csv_path = 'https://raw.githubusercontent.com/uzmabb182/Data602_Assignments/main/resources/zip-county_fips.csv'
zip_county_fips_df = pd.read_csv(csv_path, encoding="utf-8")
zip_county_fips_df.head(5)

     ZIP      COUNTYNAME STATE  STCOUNTYFP CLASSFP
0  36003  Autauga County    AL        1001      H1
1  36006  Autauga County    AL        1001      H1
2  36008  Autauga County    AL        1001      H1
3  36022  Autauga County    AL        1001      H1
4  36051  Autauga County    AL        1001      H1

In [4]:
csv_path = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv'
covid_2021_df = pd.read_csv(csv_path, encoding="utf-8")
covid_2021_df.head(5)

         date   county    state    fips  cases  deaths
0  2021-01-01  Autauga  Alabama  1001.0   4239    50.0
1  2021-01-01  Baldwin  Alabama  1003.0  13823   169.0
2  2021-01-01  Barbour  Alabama  1005.0   1517    33.0
3  2021-01-01     Bibb  Alabama  1007.0   1854    46.0
4  2021-01-01   Blount  Alabama  1009.0   4693    63.0

In [5]:
csv_path = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv'
covid_2022_df = pd.read_csv(csv_path, encoding="utf-8")
covid_2022_df.head(5)

         date   county    state    fips  cases  deaths
0  2022-01-01  Autauga  Alabama  1001.0  11018   160.0
1  2022-01-01  Baldwin  Alabama  1003.0  39911   593.0
2  2022-01-01  Barbour  Alabama  1005.0   3860    81.0
3  2022-01-01     Bibb  Alabama  1007.0   4533    95.0
4  2022-01-01   Blount  Alabama  1009.0  11256   198.0

### **Exploratory Data Analysis (EDA)**

Now previewing the data by calling the dataframe using "info()" function and finding the number of cloumns and rows.

This function provides the total number of rows and columns as well as the datatype of each column. 

Also, we are able to see the count of non-null values, which will help us further investigate the missing, or unexpected values in our dataset.

In [6]:
modality_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885591 entries, 0 to 885590
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   District NCES ID     885591 non-null  int64
 1   District Name        885591 non-null  object
 2   Week                 885591 non-null  object
 3   Learning Modality    885591 non-null  object
 4   Operational Schools  885591 non-null  int64
 5   Student Count        884691 non-null  float64
 6   City                 885591 non-null  object
 7   State                885591 non-null  object
 8   ZIP Code             885591 non-null  int64
dtypes: float64(1), int64(3), object(5)
memory usage: 60.8+ MB

### The "shape" method provide the row and column count.

In [7]:
modality_df.shape

(885591, 9)

### Checking the datatype of columns

In [8]:
modality_df.dtypes

District NCES ID         int64
District Name           object
Week                    object
Learning Modality       object
Operational Schools      int64
Student Count          float64
City                    object
State                   object
ZIP Code                 int64
dtype: object

### Finding the null values in the dataset

In [9]:
for column in modality_df.columns:
    print(f"Column {column} has {modality_df[column].isnull().sum()} null values")

Column District NCES ID has 0 null values
Column District Name has 0 null values
Column Week has 0 null values
Column Learning Modality has 0 null values
Column Operational Schools has 0 null values
Column Student Count has 900 null values
Column City has 0 null values
Column State has 0 null values
Column ZIP Code has 0 null values

### Finding the missing values in the dataset

In [10]:
# Function checking for missing values
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [11]:
missing_values_table(modality_df)

Your selected dataframe has 9 columns.
There are 1 columns that have missing values.

               Missing Values  % of Total Values
Student Count             900                0.1

 
### The value_counts() funtion helps in finding the count of values that appear in a column.

In [12]:
modality_df['Week'].value_counts()

3/13/2022 0:00     14653
4/17/2022 0:00     14649
3/6/2022 0:00      14649
2/27/2022 0:00     14648
3/20/2022 0:00     14648
                   ...
10/16/2022 0:00    10845
10/23/2022 0:00    10843
8/21/2022 0:00     10599
8/14/2022 0:00     10524
8/7/2022 0:00      10002
Name: Week, Length: 65, dtype: int64

In [13]:
modality_df['Week'].values.tolist()

['10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',
 '10/23/2022 0:00',

### Finding the value count of all columns to find the length and breakdown count of each column values

In [14]:
for c in modality_df.columns:
    print("---- %s ---" % c)
    print(modality_df[c].value_counts())

---- District NCES ID ---
100005     65
3624150    65
3624240    65
3624360    65
3624420    65
           ..
3500177     2
4028620     2
3601120     1
5000441     1
5900139     1
Name: District NCES ID, Length: 14998, dtype: int64
---- District Name ---
Madison County                                                260
Franklin County                                               260
Clay County                                                   260
Montgomery County                                             258
Jackson County                                                258
                                                             ...
SIX DIRECTIONS INDIGENOUS SCHOOL                                2
STIDHAM                                                         2
Northern Mountain Valley Unified Union School District #85      1
SUCCESS ACADEMY CHARTER SCHOOL - BRONX 4                        1
Dilcon Community School                                         1
Name: District Name, Length: 14718, dtype: int64
---- Week ---
3/13/2022 0:00     14653
4/17/2022 0:00     14649
3/6/2022 0:00      14649
2/27/2022 0:00     14648
3/20/2022 0:00     14648
                   ...
10/16/2022 0:00    10845
10/23/2022 0:00    10843
8/21/2022 0:00     10599
8/14/2022 0:00     10524
8/7/2022 0:00      10002
Name: Week, Length: 65, dtype: int64
---- Learning Modality ---
In Person    877217
Hybrid         6743
Remote         1631
Name: Learning Modality, dtype: int64
---- Operational Schools ---
1      215446
2      146191
3      138009
4       89941
5       60815
        ...
294        65
649        65
172        65
125        65
849        65
Name: Operational Schools, Length: 137, dtype: int64
---- Student Count ---
229.0     1362
326.0     1157
158.0     1149
120.0     1133
103.0     1050
          ...
2479.0      12
2351.0      12
4065.0      12
4640.0      12
2221.0       4
Name: Student Count, Length: 5388, dtype: int64
---- City ---
PHOENIX         6646
BRONX           3802
BROOKLYN        3475
WASHINGTON      3180
Philadelphia    3111
                ...
DULCE              7
KRESS              6
OCEAN SHORES       6
Gulf Shores        4
Hindman            3
Name: City, Length: 8814, dtype: int64
---- State ---
TX    69659
CA    66365
NY    54223
IL    49569
MI    43482
OH    43061
PA    36610
NJ    35752
MO    32307
AZ    29068
OK    27668
MN    26779
WI    25641
MA    21790
IN    21188
IA    18801
WA    18044
MT    17805
KS    16980
NC    16881
AR    14375
NE    13227
GA    11718
CT    10859
OR    10763
CO    10273
ME     9927
KY     9554
ND     9022
TN     8869
UT     8726
ID     8562
MS     8281
SD     8195
AL     8006
NM     7629
VA     7415
LA     7268
NH     6929
SC     4788
FL     3962
VT     3536
RI     3268
WV     3195
DC     3016
BI     2579
WY     2578
AK     2499
DE     2254
MD     1490
NV     1025
HI       65
PR       65
Name: State, dtype: int64
---- ZIP Code ---
85016    794
20011    619
85204    616
10454    606
85034    605
        ...
79052      6
98569      6
36542      4
85050      4
41822      3
Name: ZIP Code, Length: 12107, dtype: int64

### **Data Wrangling**
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data  are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

### 1- Modify multiple column names.

In [15]:
modality_df.columns

Index(['District NCES ID', 'District Name', 'Week', 'Learning Modality',
       'Operational Schools', 'Student Count', 'City', 'State', 'ZIP Code'],
      dtype='object')

In [16]:
modality_df.head()

,District NCES ID,District Name,Week,Learning Modality,Operational Schools,Student Count,City,State,ZIP Code
0,100005,Albertville City,10/23/2022 0:00,In Person,6,5824.0,Albertville,AL,35950
1,100006,Marshall County,10/23/2022 0:00,In Person,15,5764.0,Guntersville,AL,35976
2,100007,Hoover City,10/23/2022 0:00,In Person,18,14061.0,Hoover,AL,35243
3,100008,Madison City,10/23/2022 0:00,In Person,11,11695.0,Madison,AL,35758
4,100011,Leeds City,10/23/2022 0:00,In Person,4,2076.0,Leeds,AL,35094

### Converting date column into Month and Year columns to prepare for machine learning.

In [17]:
modality_df["Week"]= pd.to_datetime(modality_df["Week"])

modality_df['year'] = modality_df['Week'].dt.year

In [18]:
modality_df['month'] = modality_df['Week'].dt.month

In [19]:
modality_df['year'].values.tolist()
modality_df['month'].value_counts()

10    113469
8     106106
9      98004
5      73151
7      73051
1      72985
3      58596
4      58589
2      58569
6      58466
12     57631
11     56974
Name: month, dtype: int64

In [20]:
modality_df

,District NCES ID,District Name,Week,Learning Modality,Operational Schools,Student Count,City,State,ZIP Code,year,month
0,100005,Albertville City,2022-10-23,In Person,6,5824.0,Albertville,AL,35950,2022,10
1,100006,Marshall County,2022-10-23,In Person,15,5764.0,Guntersville,AL,35976,2022,10
2,100007,Hoover City,2022-10-23,In Person,18,14061.0,Hoover,AL,35243,2022,10
3,100008,Madison City,2022-10-23,In Person,11,11695.0,Madison,AL,35758,2022,10
4,100011,Leeds City,2022-10-23,In Person,4,2076.0,Leeds,AL,35094,2022,10
...,...,...,...,...,...,...,...,...,...,...,...
885586,5900187,Hannahville Indian School,2021-08-01,In Person,1,163.0,Wilson,BI,49896,2021,8
885587,5900190,Tiospaye Topa School,2021-08-01,In Person,1,157.0,LaPlant,BI,57652,2021,8
885588,5900193,Seba Dalkai Boarding School,2021-08-01,Hybrid,1,65.0,Winslow,BI,86047,2021,8
885589,5900197,Noli School,2021-08-01,In Person,1,123.0,San Jacinto,BI,92581,2021,8
885590,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,2021-08-01,In Person,849,292518.0,HATO REY,PR,919,2021,8

### Remove columns not required in the analysis and machine learning model

In [21]:
modality_df = modality_df.drop(['District NCES ID', 'District Name', 'Week', 'City'], axis=1)
modality_df

,Learning Modality,Operational Schools,Student Count,State,ZIP Code,year,month
0,In Person,6,5824.0,AL,35950,2022,10
1,In Person,15,5764.0,AL,35976,2022,10
2,In Person,18,14061.0,AL,35243,2022,10
3,In Person,11,11695.0,AL,35758,2022,10
4,In Person,4,2076.0,AL,35094,2022,10
...,...,...,...,...,...,...,...
885586,In Person,1,163.0,BI,49896,2021,8
885587,In Person,1,157.0,BI,57652,2021,8
885588,Hybrid,1,65.0,BI,86047,2021,8
885589,In Person,1,123.0,BI,92581,2021,8
885590,In Person,849,292518.0,PR,919,2021,8

In [22]:
modality_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885591 entries, 0 to 885590
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Learning Modality    885591 non-null  object
 1   Operational Schools  885591 non-null  int64
 2   Student Count        884691 non-null  float64
 3   State                885591 non-null  object
 4   ZIP Code             885591 non-null  int64
 5   year                 885591 non-null  int64
 6   month                885591 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 47.3+ MB

### Convert the "Student Count" datatype to Integer and replace NaN values with 0

In [23]:
modality_df['Student Count'] = modality_df['Student Count'].fillna(0).astype(int)
print(modality_df.dtypes)

Learning Modality      object
Operational Schools     int64
Student Count           int64
State                  object
ZIP Code                int64
year                    int64
month                   int64
dtype: object

In [24]:
missing_values_table(modality_df)

Your selected dataframe has 7 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

### Change all column headers to lowercase and removing white spaces

In [25]:
# rename Pandas columns to lower case
modality_df.columns= modality_df.columns.str.strip().str.lower()
modality_df.columns

Index(['learning modality', 'operational schools', 'student count', 'state',
       'zip code', 'year', 'month'],
      dtype='object')

### Remove spaces in columns name

In [26]:
modality_df.columns = modality_df.columns.str.replace(' ','_')
   
# After renaming the columns
modality_df.columns

Index(['learning_modality', 'operational_schools', 'student_count', 'state',
       'zip_code', 'year', 'month'],
      dtype='object')

### To apply title to the column values

In [27]:
# converting and overwriting values in column
modality_df['learning_modality']= modality_df['learning_modality'].str.upper().str.title()
modality_df.head()

,learning_modality,operational_schools,student_count,state,zip_code,year,month
0,In Person,6,5824,AL,35950,2022,10
1,In Person,15,5764,AL,35976,2022,10
2,In Person,18,14061,AL,35243,2022,10
3,In Person,11,11695,AL,35758,2022,10
4,In Person,4,2076,AL,35094,2022,10

### Creating a function which will remove extra leading
### and tailing whitespace from the data.
### pass dataframe as a parameter here

In [28]:
def whitespace_remover(dataframe):
   
    # iterating over the columns
    for i in dataframe.columns:
         
        # checking datatype of each columns
        if dataframe[i].dtype == 'object':
             
            # applying strip function on column
            dataframe[i] = dataframe[i].map(str.strip)
        else:
             
            # if condn. is False then it will do nothing.
            pass
 
# applying whitespace_remover function on dataframe
whitespace_remover(modality_df)
modality_df.head()

,learning_modality,operational_schools,student_count,state,zip_code,year,month
0,In Person,6,5824,AL,35950,2022,10
1,In Person,15,5764,AL,35976,2022,10
2,In Person,18,14061,AL,35243,2022,10
3,In Person,11,11695,AL,35758,2022,10
4,In Person,4,2076,AL,35094,2022,10

### Resetting the index of the dataframe

In [29]:
# Reseting index
modality_df = modality_df.reset_index(drop=True)
modality_df

,learning_modality,operational_schools,student_count,state,zip_code,year,month
0,In Person,6,5824,AL,35950,2022,10
1,In Person,15,5764,AL,35976,2022,10
2,In Person,18,14061,AL,35243,2022,10
3,In Person,11,11695,AL,35758,2022,10
4,In Person,4,2076,AL,35094,2022,10
...,...,...,...,...,...,...,...
885586,In Person,1,163,BI,49896,2021,8
885587,In Person,1,157,BI,57652,2021,8
885588,Hybrid,1,65,BI,86047,2021,8
885589,In Person,1,123,BI,92581,2021,8
885590,In Person,849,292518,PR,919,2021,8

### Saving the file to upload on PostgreSql

In [30]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
# modality_df.to_csv("posgres_modality_df.csv", encoding="utf-8", index=False)

### **CLeaning Zip_County_Fips_Df for merging into the datafarme**

In [31]:
zip_county_fips_df.head(5)

     ZIP      COUNTYNAME STATE  STCOUNTYFP CLASSFP
0  36003  Autauga County    AL        1001      H1
1  36006  Autauga County    AL        1001      H1
2  36008  Autauga County    AL        1001      H1
3  36022  Autauga County    AL        1001      H1
4  36051  Autauga County    AL        1001      H1

### Rename Pandas columns to lower case and stripping white spaces

In [32]:
zip_county_fips_df.columns= zip_county_fips_df.columns.str.strip().str.lower()
zip_county_fips_df.columns

Index(['zip', 'countyname', 'state', 'stcountyfp', 'classfp'], dtype='object')

In [33]:
zip_county_fips_df.dtypes

zip            int64
countyname    object
state         object
stcountyfp     int64
classfp       object
dtype: object

### Dropping 'classfp' column

In [34]:
zip_county_fips_df = zip_county_fips_df.drop(['classfp', 'state'], axis=1)
zip_county_fips_df

         zip         countyname  stcountyfp
0      36003     Autauga County        1001
1      36006     Autauga County        1001
2      36008     Autauga County        1001
3      36022     Autauga County        1001
4      36051     Autauga County        1001
...      ...                ...         ...
46850    820   St. Croix Island       78010
46851    840   St. Croix Island       78010
46852    850   St. Croix Island       78010
46853    830    St. John Island       78020
46854    802  St. Thomas Island       78030

[46855 rows x 3 columns]

### Removing the "County" and "Island" string from the column

In [35]:
zip_county_fips_df['countyname'] = zip_county_fips_df['countyname'].str.rstrip('County')

In [36]:
zip_county_fips_df['countyname'] = zip_county_fips_df['countyname'].str.rstrip('Island')

In [37]:
zip_county_fips_df.head()

     zip countyname  stcountyfp
0  36003   Autauga         1001
1  36006   Autauga         1001
2  36008   Autauga         1001
3  36022   Autauga         1001
4  36051   Autauga         1001

### Saving the file to upload on PostgreSql

In [38]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
# zip_county_fips_df.to_csv("posgres_zip_county_fips_df.csv", encoding="utf-8", index=False)

### **Merge the zip_county_fips_df and modality_df for adding the fips_code in the dataframe**

In [39]:
#merge DataFrames
merge_df = pd.merge(zip_county_fips_df, modality_df, left_on='zip', right_on='zip_code')
merge_df.head()

,zip,countyname,stcountyfp,learning_modality,operational_schools,student_count,state,zip_code,year,month
0,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,10
1,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,10
2,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,10
3,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,10
4,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,9

In [40]:
merge_df["countyname"].value_counts()

Maricopa            14481
Washington          12959
Franklin            11049
Wayne               10526
Jefferson           10388
                    ...
Ziebach                12
Morehouse Parish       12
McMullen               12
Hood River             12
Kenedy                  9
Name: countyname, Length: 1846, dtype: int64

### Removing white spaces from entire dataframe

In [41]:
def whitespace_remover(dataframe):
   
    # iterating over the columns
    for i in dataframe.columns:
         
        # checking datatype of each columns
        if dataframe[i].dtype == 'object':
             
            # applying strip function on column
            dataframe[i] = dataframe[i].map(str.strip)
        else:
             
            # if condn. is False then it will do nothing.
            pass
 
# applying whitespace_remover function on dataframe
whitespace_remover(merge_df)
merge_df.head()

,zip,countyname,stcountyfp,learning_modality,operational_schools,student_count,state,zip_code,year,month
0,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,10
1,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,10
2,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,10
3,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,10
4,36067,Autauga,1001,In Person,15,9120,AL,36067,2022,9

### Dropping same columns

In [42]:
merge_df = merge_df.drop(['zip'], axis=1)
merge_df

,countyname,stcountyfp,learning_modality,operational_schools,student_count,state,zip_code,year,month
0,Autauga,1001,In Person,15,9120,AL,36067,2022,10
1,Autauga,1001,In Person,15,9120,AL,36067,2022,10
2,Autauga,1001,In Person,15,9120,AL,36067,2022,10
3,Autauga,1001,In Person,15,9120,AL,36067,2022,10
4,Autauga,1001,In Person,15,9120,AL,36067,2022,9
...,...,...,...,...,...,...,...,...,...
1209533,Weston,56045,In Person,3,235,WY,82730,2022,9
1209534,Weston,56045,In Person,3,235,WY,82730,2022,8
1209535,Weston,56045,In Person,3,235,WY,82730,2022,8
1209536,Weston,56045,In Person,3,235,WY,82730,2022,8
1209537,Weston,56045,In Person,3,235,WY,82730,2022,8

### **Now Concatinating the Covid_2021 and Covid_2022 dataframes**

In [43]:
covid_2021_df.head()

         date   county    state    fips  cases  deaths
0  2021-01-01  Autauga  Alabama  1001.0   4239    50.0
1  2021-01-01  Baldwin  Alabama  1003.0  13823   169.0
2  2021-01-01  Barbour  Alabama  1005.0   1517    33.0
3  2021-01-01     Bibb  Alabama  1007.0   1854    46.0
4  2021-01-01   Blount  Alabama  1009.0   4693    63.0

In [44]:
covid_2022_df.head()

         date   county    state    fips  cases  deaths
0  2022-01-01  Autauga  Alabama  1001.0  11018   160.0
1  2022-01-01  Baldwin  Alabama  1003.0  39911   593.0
2  2022-01-01  Barbour  Alabama  1005.0   3860    81.0
3  2022-01-01     Bibb  Alabama  1007.0   4533    95.0
4  2022-01-01   Blount  Alabama  1009.0  11256   198.0

### Concatenating covid_2021_df and covid_2022_df along rows (Vertical)

In [45]:
covid_df = pd.concat([covid_2021_df, covid_2022_df], axis=0)
covid_df

               date      county    state     fips  cases  deaths
0        2021-01-01     Autauga  Alabama   1001.0   4239    50.0
1        2021-01-01     Baldwin  Alabama   1003.0  13823   169.0
2        2021-01-01     Barbour  Alabama   1005.0   1517    33.0
3        2021-01-01        Bibb  Alabama   1007.0   1854    46.0
4        2021-01-01      Blount  Alabama   1009.0   4693    63.0
...             ...         ...      ...      ...    ...     ...
1025406  2022-11-11  Sweetwater  Wyoming  56037.0  12211   131.0
1025407  2022-11-11       Teton  Wyoming  56039.0  11851    16.0
1025408  2022-11-11       Uinta  Wyoming  56041.0   6210    43.0
1025409  2022-11-11    Washakie  Wyoming  56043.0   2680    47.0
1025410  2022-11-11      Weston  Wyoming  56045.0   1840    21.0

[2210784 rows x 6 columns]

### **Data Cleaning for Covid_df dataframe**

### Converting into correct date format and then converting date column into Month and Year columns to prepare for machine learning.

In [46]:
covid_df["date"]= pd.to_datetime(covid_df["date"])

covid_df['month'] = covid_df['date'].dt.month

In [47]:
covid_df['year'] = covid_df['date'].dt.year
covid_df.head()

        date   county    state    fips  cases  deaths  month  year
0 2021-01-01  Autauga  Alabama  1001.0   4239    50.0      1  2021
1 2021-01-01  Baldwin  Alabama  1003.0  13823   169.0      1  2021
2 2021-01-01  Barbour  Alabama  1005.0   1517    33.0      1  2021
3 2021-01-01     Bibb  Alabama  1007.0   1854    46.0      1  2021
4 2021-01-01   Blount  Alabama  1009.0   4693    63.0      1  2021

### Convert the "Student Count" datatype to Integer and replace NaN values with 0

In [48]:
covid_df['fips'] = covid_df['fips'].fillna(0).astype(int)
covid_df['deaths'] = covid_df['deaths'].fillna(0).astype(int)
print(covid_df.dtypes)

date      datetime64[ns]
county            object
state             object
fips               int64
cases              int64
deaths             int64
month              int64
year               int64
dtype: object

In [49]:
covid_df.head()

        date   county    state  fips  cases  deaths  month  year
0 2021-01-01  Autauga  Alabama  1001   4239      50      1  2021
1 2021-01-01  Baldwin  Alabama  1003  13823     169      1  2021
2 2021-01-01  Barbour  Alabama  1005   1517      33      1  2021
3 2021-01-01     Bibb  Alabama  1007   1854      46      1  2021
4 2021-01-01   Blount  Alabama  1009   4693      63      1  2021

### Dropping the unwanted Columns

In [50]:
covid_df = covid_df.drop(['date'], axis=1)
covid_df.head()

    county    state  fips  cases  deaths  month  year
0  Autauga  Alabama  1001   4239      50      1  2021
1  Baldwin  Alabama  1003  13823     169      1  2021
2  Barbour  Alabama  1005   1517      33      1  2021
3     Bibb  Alabama  1007   1854      46      1  2021
4   Blount  Alabama  1009   4693      63      1  2021

### Resetting the index of the dataframe

In [51]:
# Reseting index
covid_df = covid_df.reset_index(drop=True)
covid_df

             county    state   fips  cases  deaths  month  year
0           Autauga  Alabama   1001   4239      50      1  2021
1           Baldwin  Alabama   1003  13823     169      1  2021
2           Barbour  Alabama   1005   1517      33      1  2021
3              Bibb  Alabama   1007   1854      46      1  2021
4            Blount  Alabama   1009   4693      63      1  2021
...             ...      ...    ...    ...     ...    ...   ...
2210779  Sweetwater  Wyoming  56037  12211     131     11  2022
2210780       Teton  Wyoming  56039  11851      16     11  2022
2210781       Uinta  Wyoming  56041   6210      43     11  2022
2210782    Washakie  Wyoming  56043   2680      47     11  2022
2210783      Weston  Wyoming  56045   1840      21     11  2022

[2210784 rows x 7 columns]

### Exporting the Covid_df for PostgreSql

In [52]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
#covid_df.to_csv("posgres_covid_df.csv", encoding="utf-8", index=False)

### **Merging the "merge_df" and "covid_df" dataframe to prepare for analysis**

In [53]:
# merge DataFrames
#final_df = pd.merge(covid_df, merge_df, left_on='fips', right_on='stcountyfp')
#final_df.head()

## **Conclusions**
After exploring your dataset, provide a short summary of what you noticed from this dataset. What would you explore further with more time?