In [108]:
# Dependencies
import numpy as np
import pandas as pd
import requests
from census import Census
import gmaps

import warnings
warnings.filterwarnings('ignore')

# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2020)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [109]:
# https://api.census.gov/data/2020/acs/acs1?get=NAME,B01001_001E&for=county:*
# https://api.census.gov/data/2020/acs/acs1?get=NAME,B01001_001E&for=county:*&in=state:*
# Run Census Search to retrieve data on all states
# Note the addition of "B23025_005E" for unemployment count
census_data = c.acs5.get(("NAME", "B01003_001E"), {'for': 'state:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

census_pd.head()

            NAME  B01003_001E state
0   Pennsylvania   12794885.0    42
1     California   39346023.0    06
2  West Virginia    1807426.0    54
3           Utah    3151239.0    49
4       New York   19514849.0    36

In [110]:
# Remove column name 'state'
census_pd = census_pd.drop(['state'], axis=1)
census_pd.head()

            NAME  B01003_001E
0   Pennsylvania   12794885.0
1     California   39346023.0
2  West Virginia    1807426.0
3           Utah    3151239.0
4       New York   19514849.0

In [111]:
census_pd.dtypes

NAME            object
B01003_001E    float64
dtype: object

In [112]:
census_pd.columns

Index(['NAME', 'B01003_001E'], dtype='object')

In [113]:
# Rename the column names

census_pd.rename(columns = {'NAME':'State', 'B01003_001E':'Population'}, inplace = True)
census_pd.head()

           State  Population
0   Pennsylvania  12794885.0
1     California  39346023.0
2  West Virginia   1807426.0
3           Utah   3151239.0
4       New York  19514849.0

In [114]:
# To convert from float to integer

census_pd['Population'] = census_pd['Population'].astype(int)
census_pd.head()

           State  Population
0   Pennsylvania    12794885
1     California    39346023
2  West Virginia     1807426
3           Utah     3151239
4       New York    19514849

In [115]:
# Importing mortality data file

csv_path = 'https://raw.githubusercontent.com/uzmabb182/Data602_Assignments/main/Final_Project_Data_602/resources/posgres_states_df.csv'
states_df = pd.read_csv(csv_path, encoding="utf-8")
states_df.head(5)

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [116]:
# When column names are different
df=pd.merge(census_pd,states_df, left_on='State', right_on='State', how='left')
df.head()

           State  Population Abbreviation
0   Pennsylvania    12794885           PA
1     California    39346023           CA
2  West Virginia     1807426           WV
3           Utah     3151239           UT
4       New York    19514849           NY

In [117]:
# Importing mortality data file

csv_path = 'https://raw.githubusercontent.com/uzmabb182/Data602_Assignments/main/Final_Project_Data_602/resources/posgres_modality_df.csv'
modality_df = pd.read_csv(csv_path, encoding="utf-8")
modality_df

    learning_modality  year state  student_count
0              Hybrid  2021    AK          24101
1              Hybrid  2021    AL          29315
2              Hybrid  2021    AR           6774
3              Hybrid  2021    AZ           3677
4              Hybrid  2021    BI           2071
..                ...   ...   ...            ...
275            Remote  2022    SD           2135
276            Remote  2022    TX          12263
277            Remote  2022    UT           6604
278            Remote  2022    WA            696
279            Remote  2022    WI          57802

[280 rows x 4 columns]

In [118]:
# When column names are different
population_df=pd.merge(modality_df,df, left_on='state', right_on='Abbreviation', how='left')
population_df

,learning_modality,year,state,student_count,State,Population,Abbreviation
0,Hybrid,2021,AK,24101,Alaska,736990.0,AK
1,Hybrid,2021,AL,29315,Alabama,4893186.0,AL
2,Hybrid,2021,AR,6774,Arkansas,3011873.0,AR
3,Hybrid,2021,AZ,3677,Arizona,7174064.0,AZ
4,Hybrid,2021,BI,2071,NaN,NaN,NaN
...,...,...,...,...,...,...,...
275,Remote,2022,SD,2135,South Dakota,879336.0,SD
276,Remote,2022,TX,12263,Texas,28635442.0,TX
277,Remote,2022,UT,6604,Utah,3151239.0,UT
278,Remote,2022,WA,696,Washington,7512465.0,WA
279,Remote,2022,WI,57802,Wisconsin,5806975.0,WI

In [119]:
population_df['State'].values.tolist()

['Alaska',
 'Alabama',
 'Arkansas',
 'Arizona',
 nan,
 'California',
 'Colorado',
 'Connecticut',
 'District of Columbia',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Iowa',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maryland',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Vermont',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Alaska',
 'Alabama',
 'Arkansas',
 'Arizona',
 nan,
 'California',
 'Colorado',
 'Connecticut',
 'District of Columbia',
 'Delaware',
 'Georgia',
 'Hawaii',
 'Iowa',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maryland',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Vermont',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Alaska',
 'Alabama',
 'Arkansas',
 'Arizona',
 nan,
 'California',
 'Colorado',
 'Connecticut',
 'District of Columbia',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Iowa',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maryland',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 nan,
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Vermont',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Wyoming',
 'Alaska',
 'Alabama',
 'Arkansas',
 'Arizona',
 nan,
 'California',
 'Colorado',
 'Connecticut',
 'District of Columbia',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Iowa',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maryland',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 nan,
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Vermont',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Wyoming',
 'Alabama',
 'Arizona',
 nan,
 'California',
 'Colorado',
 'Georgia',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Alabama',
 'Arkansas',
 'Arizona',
 nan,
 'California',
 'Colorado',
 'District of Columbia',
 'Delaware',
 'Georgia',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kentucky',
 'Louisiana',
 'Maryland',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'North Dakota',
 'New Jersey',
 'New Mexico',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 nan,
 'South Carolina',
 'South Dakota',
 'Texas',
 'Utah',
 'Washington',
 'Wisconsin']

In [120]:
population_df = population_df.dropna()
population_df

,learning_modality,year,state,student_count,State,Population,Abbreviation
0,Hybrid,2021,AK,24101,Alaska,736990.0,AK
1,Hybrid,2021,AL,29315,Alabama,4893186.0,AL
2,Hybrid,2021,AR,6774,Arkansas,3011873.0,AR
3,Hybrid,2021,AZ,3677,Arizona,7174064.0,AZ
5,Hybrid,2021,CA,16600,California,39346023.0,CA
...,...,...,...,...,...,...,...
275,Remote,2022,SD,2135,South Dakota,879336.0,SD
276,Remote,2022,TX,12263,Texas,28635442.0,TX
277,Remote,2022,UT,6604,Utah,3151239.0,UT
278,Remote,2022,WA,696,Washington,7512465.0,WA
279,Remote,2022,WI,57802,Wisconsin,5806975.0,WI

In [121]:
# converting 'Weight' from float to int
population_df['Population'] = population_df['Population'].astype(int)
population_df

,learning_modality,year,state,student_count,State,Population,Abbreviation
0,Hybrid,2021,AK,24101,Alaska,736990,AK
1,Hybrid,2021,AL,29315,Alabama,4893186,AL
2,Hybrid,2021,AR,6774,Arkansas,3011873,AR
3,Hybrid,2021,AZ,3677,Arizona,7174064,AZ
5,Hybrid,2021,CA,16600,California,39346023,CA
...,...,...,...,...,...,...,...
275,Remote,2022,SD,2135,South Dakota,879336,SD
276,Remote,2022,TX,12263,Texas,28635442,TX
277,Remote,2022,UT,6604,Utah,3151239,UT
278,Remote,2022,WA,696,Washington,7512465,WA
279,Remote,2022,WI,57802,Wisconsin,5806975,WI

In [122]:
population_df["student_count_per_capita"] = (population_df["student_count"] / population_df["Population"])
population_df

,learning_modality,year,state,student_count,State,Population,Abbreviation,student_count_per_capita
0,Hybrid,2021,AK,24101,Alaska,736990,AK,0.032702
1,Hybrid,2021,AL,29315,Alabama,4893186,AL,0.005991
2,Hybrid,2021,AR,6774,Arkansas,3011873,AR,0.002249
3,Hybrid,2021,AZ,3677,Arizona,7174064,AZ,0.000513
5,Hybrid,2021,CA,16600,California,39346023,CA,0.000422
...,...,...,...,...,...,...,...,...
275,Remote,2022,SD,2135,South Dakota,879336,SD,0.002428
276,Remote,2022,TX,12263,Texas,28635442,TX,0.000428
277,Remote,2022,UT,6604,Utah,3151239,UT,0.002096
278,Remote,2022,WA,696,Washington,7512465,WA,0.000093
279,Remote,2022,WI,57802,Wisconsin,5806975,WI,0.009954

In [123]:
# Remove column name 'state'
population_df = population_df.drop(['state'], axis=1)
population_df

,learning_modality,year,student_count,State,Population,Abbreviation,student_count_per_capita
0,Hybrid,2021,24101,Alaska,736990,AK,0.032702
1,Hybrid,2021,29315,Alabama,4893186,AL,0.005991
2,Hybrid,2021,6774,Arkansas,3011873,AR,0.002249
3,Hybrid,2021,3677,Arizona,7174064,AZ,0.000513
5,Hybrid,2021,16600,California,39346023,CA,0.000422
...,...,...,...,...,...,...,...
275,Remote,2022,2135,South Dakota,879336,SD,0.002428
276,Remote,2022,12263,Texas,28635442,TX,0.000428
277,Remote,2022,6604,Utah,3151239,UT,0.002096
278,Remote,2022,696,Washington,7512465,WA,0.000093
279,Remote,2022,57802,Wisconsin,5806975,WI,0.009954

In [124]:
population_df.columns = population_df.columns.str.lower()
population_df

,learning_modality,year,student_count,state,population,abbreviation,student_count_per_capita
0,Hybrid,2021,24101,Alaska,736990,AK,0.032702
1,Hybrid,2021,29315,Alabama,4893186,AL,0.005991
2,Hybrid,2021,6774,Arkansas,3011873,AR,0.002249
3,Hybrid,2021,3677,Arizona,7174064,AZ,0.000513
5,Hybrid,2021,16600,California,39346023,CA,0.000422
...,...,...,...,...,...,...,...
275,Remote,2022,2135,South Dakota,879336,SD,0.002428
276,Remote,2022,12263,Texas,28635442,TX,0.000428
277,Remote,2022,6604,Utah,3151239,UT,0.002096
278,Remote,2022,696,Washington,7512465,WA,0.000093
279,Remote,2022,57802,Wisconsin,5806975,WI,0.009954

In [125]:
population_df.loc[modality_df['learning_modality'] == 'In Person']

,learning_modality,year,student_count,state,population,abbreviation,student_count_per_capita
100,In Person,2021,16378,Alaska,736990,AK,0.022223
101,In Person,2021,27385,Alabama,4893186,AL,0.005597
102,In Person,2021,10510,Arkansas,3011873,AR,0.003490
103,In Person,2021,12007,Arizona,7174064,AZ,0.001674
105,In Person,2021,27548,California,39346023,CA,0.000700
...,...,...,...,...,...,...,...
201,In Person,2022,13733,Vermont,624340,VT,0.021996
202,In Person,2022,40656,Washington,7512465,WA,0.005412
203,In Person,2022,20888,Wisconsin,5806975,WI,0.003597
204,In Person,2022,52043,West Virginia,1807426,WV,0.028794
205,In Person,2022,22042,Wyoming,581348,WY,0.037915

In [126]:
population_df.dtypes

learning_modality            object
year                          int64
student_count                 int64
state                        object
population                    int32
abbreviation                 object
student_count_per_capita    float64
dtype: object

In [129]:
population_df.loc[population_df['state'] == 'Utah']

,learning_modality,year,student_count,state,population,abbreviation,student_count_per_capita
44,Hybrid,2021,5690,Utah,3151239,UT,0.001806
94,Hybrid,2022,34478,Utah,3151239,UT,0.010941
146,In Person,2021,25164,Utah,3151239,UT,0.007985
199,In Person,2022,51616,Utah,3151239,UT,0.016380
239,Remote,2021,3874,Utah,3151239,UT,0.001229
277,Remote,2022,6604,Utah,3151239,UT,0.002096

In [130]:
# Save as a csv for Tableau dashboard
# Note to avoid any issues later, use encoding="utf-8"
population_df.to_csv("resources/tableau_modality_df.csv", encoding="utf-8", index=False)

In [131]:
# Importing covid data file

csv_path = 'https://raw.githubusercontent.com/uzmabb182/Data602_Assignments/main/Final_Project_Data_602/resources/posgres_covid_df.csv'
covid_df = pd.read_csv(csv_path, encoding="utf-8")
covid_df

               state    cases  deaths  year
0            Alabama   365747    4872  2021
1             Alaska    46740     198  2021
2            Arizona   530267    9015  2021
3           Arkansas   229442    3711  2021
4         California  2345811   26236  2021
...              ...      ...     ...   ...
38595       Virginia  2143804   22495  2022
38596     Washington  1854190   14775  2022
38597  West Virginia   613165    7714  2022
38598      Wisconsin  1921427   15651  2022
38599        Wyoming   180426    1931  2022

[38600 rows x 4 columns]

In [132]:
# When column names are different
cases_df=pd.merge(covid_df,df, left_on='state', right_on='State', how='left')
cases_df

,state,cases,deaths,year,State,Population,Abbreviation
0,Alabama,365747,4872,2021,Alabama,4893186.0,AL
1,Alaska,46740,198,2021,Alaska,736990.0,AK
2,Arizona,530267,9015,2021,Arizona,7174064.0,AZ
3,Arkansas,229442,3711,2021,Arkansas,3011873.0,AR
4,California,2345811,26236,2021,California,39346023.0,CA
...,...,...,...,...,...,...,...
38595,Virginia,2143804,22495,2022,Virginia,8509358.0,VA
38596,Washington,1854190,14775,2022,Washington,7512465.0,WA
38597,West Virginia,613165,7714,2022,West Virginia,1807426.0,WV
38598,Wisconsin,1921427,15651,2022,Wisconsin,5806975.0,WI
38599,Wyoming,180426,1931,2022,Wyoming,581348.0,WY

In [133]:
# converting 'Weight' from float to int
cases_df = cases_df.dropna()
cases_df['Population'] = cases_df['Population'].astype(int)
cases_df

,state,cases,deaths,year,State,Population,Abbreviation
0,Alabama,365747,4872,2021,Alabama,4893186,AL
1,Alaska,46740,198,2021,Alaska,736990,AK
2,Arizona,530267,9015,2021,Arizona,7174064,AZ
3,Arkansas,229442,3711,2021,Arkansas,3011873,AR
4,California,2345811,26236,2021,California,39346023,CA
...,...,...,...,...,...,...,...
38595,Virginia,2143804,22495,2022,Virginia,8509358,VA
38596,Washington,1854190,14775,2022,Washington,7512465,WA
38597,West Virginia,613165,7714,2022,West Virginia,1807426,WV
38598,Wisconsin,1921427,15651,2022,Wisconsin,5806975,WI
38599,Wyoming,180426,1931,2022,Wyoming,581348,WY

In [134]:
cases_df["cases_per_capita"] = (cases_df["cases"] / cases_df["Population"])
cases_df["deaths_per_capita"] = (cases_df["deaths"] / cases_df["Population"])
cases_df

,state,cases,deaths,year,State,Population,Abbreviation,cases_per_capita,deaths_per_capita
0,Alabama,365747,4872,2021,Alabama,4893186,AL,0.074746,0.000996
1,Alaska,46740,198,2021,Alaska,736990,AK,0.063420,0.000269
2,Arizona,530267,9015,2021,Arizona,7174064,AZ,0.073914,0.001257
3,Arkansas,229442,3711,2021,Arkansas,3011873,AR,0.076179,0.001232
4,California,2345811,26236,2021,California,39346023,CA,0.059620,0.000667
...,...,...,...,...,...,...,...,...,...
38595,Virginia,2143804,22495,2022,Virginia,8509358,VA,0.251935,0.002644
38596,Washington,1854190,14775,2022,Washington,7512465,WA,0.246815,0.001967
38597,West Virginia,613165,7714,2022,West Virginia,1807426,WV,0.339248,0.004268
38598,Wisconsin,1921427,15651,2022,Wisconsin,5806975,WI,0.330883,0.002695
38599,Wyoming,180426,1931,2022,Wyoming,581348,WY,0.310358,0.003322

In [135]:
# Remove column name 'state'
cases_df = cases_df.drop(['state'], axis=1)
cases_df

,cases,deaths,year,State,Population,Abbreviation,cases_per_capita,deaths_per_capita
0,365747,4872,2021,Alabama,4893186,AL,0.074746,0.000996
1,46740,198,2021,Alaska,736990,AK,0.063420,0.000269
2,530267,9015,2021,Arizona,7174064,AZ,0.073914,0.001257
3,229442,3711,2021,Arkansas,3011873,AR,0.076179,0.001232
4,2345811,26236,2021,California,39346023,CA,0.059620,0.000667
...,...,...,...,...,...,...,...,...
38595,2143804,22495,2022,Virginia,8509358,VA,0.251935,0.002644
38596,1854190,14775,2022,Washington,7512465,WA,0.246815,0.001967
38597,613165,7714,2022,West Virginia,1807426,WV,0.339248,0.004268
38598,1921427,15651,2022,Wisconsin,5806975,WI,0.330883,0.002695
38599,180426,1931,2022,Wyoming,581348,WY,0.310358,0.003322

In [136]:
cases_df.columns = cases_df.columns.str.lower()
cases_df.dtypes

cases                  int64
deaths                 int64
year                   int64
state                 object
population             int32
abbreviation          object
cases_per_capita     float64
deaths_per_capita    float64
dtype: object

In [137]:
# Save as a csv for Tableau dashboard
# Note to avoid any issues later, use encoding="utf-8"
cases_df.to_csv("resources/tableau_covid_df.csv", encoding="utf-8", index=False)