# **Data_602 Final Project**
### By Mubashira Qari

# Introduction

In this section, please describe the dataset you are using.  Include a link to the source of this data.  You should also provide some explanation on why you choose this dataset.

### Describing Dataset

### Data Source Link

https://healthdata.gov/National/School-Learning-Modalities/aitj-yx37/data

https://github.com/nytimes/covid-19-data

https://data.world/niccolley/us-zipcode-to-county-state

https://github.com/jasonong/List-of-US-States/blob/master/states.csv

### Justification for Dataset Selection


# Data Exploration (EDA)
Import your dataset into your .ipynb, create dataframes, and explore your data.  

Include: 

* Summary statistics means, medians, quartiles, 
* Missing value information
* Any other relevant information about the dataset.

### **Importing Libraries**

#### The first step is to import libraries for data exploration, cleaning and manipulation.

In [2]:
import numpy as np
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import warnings
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'seaborn'

### **Importing CSV data file into pandas dataframe**

Defining the path for reading the CSV file. 

Using Pandas "read_csv" function to read the file into Pandas dataframe.

And by passing the limit to view 5 row in the "head() function.

Similarly, viewing the last 5 rows using the "tail()" function.

In [3]:
csv_path = 'https://raw.githubusercontent.com/uzmabb182/Data602_Assignments/main/Final_Project_Data_602/resources/school_learning_modalities.csv'
modality_df = pd.read_csv(csv_path, encoding="utf-8")
modality_df.head(5)

,District NCES ID,District Name,Week,Learning Modality,Operational Schools,Student Count,City,State,ZIP Code
0,100005,Albertville City,10/23/2022 0:00,In Person,6,5824.0,Albertville,AL,35950
1,100006,Marshall County,10/23/2022 0:00,In Person,15,5764.0,Guntersville,AL,35976
2,100007,Hoover City,10/23/2022 0:00,In Person,18,14061.0,Hoover,AL,35243
3,100008,Madison City,10/23/2022 0:00,In Person,11,11695.0,Madison,AL,35758
4,100011,Leeds City,10/23/2022 0:00,In Person,4,2076.0,Leeds,AL,35094

In [4]:
csv_path = 'https://raw.githubusercontent.com/uzmabb182/Data602_Assignments/main/Final_Project_Data_602/resources/zip-county_fips.csv'
zip_county_fips_df = pd.read_csv(csv_path, encoding="utf-8")
zip_county_fips_df.head(5)

     ZIP      COUNTYNAME STATE  STCOUNTYFP CLASSFP
0  36003  Autauga County    AL        1001      H1
1  36006  Autauga County    AL        1001      H1
2  36008  Autauga County    AL        1001      H1
3  36022  Autauga County    AL        1001      H1
4  36051  Autauga County    AL        1001      H1

In [ ]:
csv_path = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv'
covid_2021_df = pd.read_csv(csv_path, encoding="utf-8")
covid_2021_df.head(5)

In [ ]:
csv_path = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2022.csv'
covid_2022_df = pd.read_csv(csv_path, encoding="utf-8")
covid_2022_df.head(5)

In [ ]:
csv_path = 'https://raw.githubusercontent.com/jasonong/List-of-US-States/master/states.csv'
states_df = pd.read_csv(csv_path, encoding="utf-8")
states_df.head(5)

### **Exploratory Data Analysis (EDA)**

Now previewing the data by calling the dataframe using "info()" function and finding the number of cloumns and rows.

This function provides the total number of rows and columns as well as the datatype of each column. 

Also, we are able to see the count of non-null values, which will help us further investigate the missing, or unexpected values in our dataset.

In [ ]:
modality_df.info()

### The "shape" method provide the row and column count.

In [ ]:
modality_df.shape

### Checking the datatype of columns

In [ ]:
modality_df.dtypes

### Finding the null values in the dataset

In [ ]:
for column in modality_df.columns:
    print(f"Column {column} has {modality_df[column].isnull().sum()} null values")

### Finding the missing values in the dataset

In [ ]:
# Function checking for missing values
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [ ]:
missing_values_table(modality_df)

 
### The value_counts() funtion helps in finding the count of values that appear in a column.

In [ ]:
modality_df['Week'].value_counts()

In [ ]:
modality_df['Week'].values.tolist()

### Finding the value count of all columns to find the length and breakdown count of each column values

In [ ]:
for c in modality_df.columns:
    print("---- %s ---" % c)
    print(modality_df[c].value_counts())

### **Data Wrangling**
Create a subset of your original data and perform the following.  

1. Modify multiple column names.

2. Look at the structure of your data – are any variables improperly coded? Such as strings or characters? Convert to correct structure if needed.

3. Fix missing and invalid values in data.

4. Create new columns based on existing columns or calculations.

5. Drop column(s) from your dataset.

6. Drop a row(s) from your dataset.

7. Sort your data based on multiple variables. 

8. Filter your data based on some condition. 

9. Convert all the string values to upper or lower cases in one column.

10. Check whether numeric values are present in a given column of your dataframe.

11. Group your dataset by one column, and get the mean, min, and max values by group. 
  * Groupby()
  * agg() or .apply()

12. Group your dataset by two columns and then sort the aggregated results within the groups. 

**You are free (and should) to add on to these questions.  Please clearly indicate in your assignment your answers to these questions.**

### 1- Modify multiple column names.

In [ ]:
modality_df.columns

In [ ]:
modality_df.head()

### Converting date column into Month and Year columns to prepare for machine learning.

In [ ]:
modality_df["Week"]= pd.to_datetime(modality_df["Week"])

modality_df['year'] = modality_df['Week'].dt.year

In [ ]:
modality_df['month'] = modality_df['Week'].dt.month

In [ ]:
modality_df['year'].values.tolist()
modality_df['month'].value_counts()

In [ ]:
modality_df

### Remove columns not required in the analysis and machine learning model

In [ ]:
modality_df = modality_df.drop(['District NCES ID', 'District Name', 'Week', 'City'], axis=1)
modality_df

In [ ]:
modality_df.info()

### Convert the "Student Count" datatype to Integer and replace NaN values with 0

In [ ]:
modality_df['Student Count'] = modality_df['Student Count'].fillna(0).astype(int)
print(modality_df.dtypes)

In [ ]:
missing_values_table(modality_df)

### Change all column headers to lowercase and removing white spaces

In [ ]:
# rename Pandas columns to lower case
modality_df.columns= modality_df.columns.str.strip().str.lower()
modality_df.columns

### Remove spaces in columns name

In [ ]:
modality_df.columns = modality_df.columns.str.replace(' ','_')
   
# After renaming the columns
modality_df.columns

### To apply title to the column values

In [ ]:
# converting and overwriting values in column
modality_df['learning_modality']= modality_df['learning_modality'].str.upper().str.title()
modality_df.head()

### Creating a function which will remove extra leading
### and trailing whitespace from the data.
### pass dataframe as a parameter here

In [ ]:
def whitespace_remover(dataframe):
   
    # iterating over the columns
    for i in dataframe.columns:
         
        # checking datatype of each columns
        if dataframe[i].dtype == 'object':
             
            # applying strip function on column
            dataframe[i] = dataframe[i].map(str.strip)
        else:
             
            # if condn. is False then it will do nothing.
            pass
 
# applying whitespace_remover function on dataframe
whitespace_remover(modality_df)
modality_df.head()

### Resetting the index of the dataframe

In [ ]:
# Reseting index
modality_df = modality_df.reset_index(drop=True)
modality_df

### **CLeaning Zip_County_Fips_Df for merging into the datafarme**

In [ ]:
zip_county_fips_df.head(5)

### Rename Pandas columns to lower case and stripping white spaces

In [ ]:
zip_county_fips_df.columns= zip_county_fips_df.columns.str.strip().str.lower()
zip_county_fips_df.columns

In [ ]:
zip_county_fips_df.dtypes

In [ ]:
zip_county_fips_df=zip_county_fips_df.rename({'stcountyfp':'fips'}, axis=1)

### Dropping 'classfp' column

In [ ]:
zip_county_fips_df = zip_county_fips_df.drop(['classfp', 'state'], axis=1)
zip_county_fips_df

### Removing the "County" and "Island" string from the column

In [ ]:
# zip_county_fips_df['countyname'] = zip_county_fips_df['countyname'].str.rstrip('County')

In [ ]:
# zip_county_fips_df['countyname'] = zip_county_fips_df['countyname'].str.rstrip('Island')

In [ ]:
fips_df = zip_county_fips_df.drop(['zip'], axis=1)
fips_df

In [ ]:
#drop duplicates from DataFrame
fips_df = fips_df.drop_duplicates()
fips_df

In [ ]:
fips_df = fips_df.reset_index(drop=True)
fips_df

In [ ]:
# zip_county_fips_df.info()
zip_county_fips_df.head()

In [ ]:
# zip_county_fips_df['countyname'].values.tolist()

### Remove special characters from string column

In [ ]:
### Remove special characters from string column
# zip_county_fips_df['countyname'] = zip_county_fips_df['countyname'].str.replace('\W', '', regex=True)
# zip_county_fips_df['countyname'].values.tolist()

### Saving the file to upload on PostgreSql

In [ ]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
#fips_df.to_csv("posgres_zip_county_fips_df.csv", encoding="utf-8", index=False)

### **Merge the zip_county_fips_df and modality_df for adding the fips_code in the dataframe**

In [ ]:
#merge DataFrames
modality_fips_df = pd.merge(zip_county_fips_df, modality_df, left_on='zip', right_on='zip_code')
modality_fips_df.head()

In [ ]:
#merge DataFrames
modality_fips_df = pd.merge(states_df, modality_fips_df, left_on='Abbreviation', right_on='state')
modality_fips_df.head()

In [ ]:
#drop one column by index

modality_fips_df.drop('state', axis=1, inplace=True)
modality_fips_df.head()

In [ ]:
modality_fips_df["countyname"].value_counts()

### Dropping the duplicate rows based on all columns

In [ ]:
modality_fips_df = modality_fips_df.drop_duplicates()
modality_fips_df

### Removing white spaces from entire dataframe

In [ ]:
def whitespace_remover(dataframe):
   
    # iterating over the columns
    for i in dataframe.columns:
         
        # checking datatype of each columns
        if dataframe[i].dtype == 'object':
             
            # applying strip function on column
            dataframe[i] = dataframe[i].map(str.strip)
        else:
             
            # if condn. is False then it will do nothing.
            pass
 
# applying whitespace_remover function on dataframe
whitespace_remover(modality_fips_df)
modality_fips_df.head()

### Dropping duplicate value columns

# Preparing for Postgresql import

In [ ]:
modality_fips_df = modality_fips_df.drop(['zip_code', 'month', 'operational_schools'], axis=1)
modality_fips_df

In [ ]:
modality_fips_df= modality_fips_df.rename(columns=str.lower)
modality_fips_df

### Now Groupby county and average the student count

In [ ]:
# Groupby one column and return the mean of only particular column in the group.
new_modality_df = modality_fips_df.groupby(['countyname', 'fips', 'learning_modality', 'state', 'abbreviation', 'year'], as_index=False).agg(student_count= ('student_count','sum'))
new_modality_df

In [ ]:
new_modality_df['student_count'] = new_modality_df['student_count'].astype(int)
new_modality_df.dtypes
new_modality_df

In [ ]:
new_modality_df = new_modality_df.drop_duplicates()
new_modality_df.info()

In [ ]:
new_df = new_modality_df[new_modality_df['student_count'] > 1000]
new_df

In [ ]:
# Reseting index
new_modality_df = new_modality_df.reset_index(drop=True)
new_modality_df

In [ ]:
new_modality_df["student_count"].values.tolist()

In [ ]:
new_modality_df["student_count"] = new_modality_df["student_count"].fillna(0)
new_modality_df = new_modality_df.dropna()
new_modality_df['student_count'].notnull()

In [ ]:
new_modality_df.describe()

In [ ]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
#new_modality_df.to_csv("posgres_modality_df.csv", encoding="utf-8", index=False)

### **Now Concatinating the Covid_2021 and Covid_2022 dataframes**

In [ ]:
covid_2021_df.head()

In [ ]:
covid_2022_df.head()

### Concatenating covid_2021_df and covid_2022_df along rows (Vertical)

In [ ]:
covid_df = pd.concat([covid_2021_df, covid_2022_df], axis=0)
covid_df

### **Data Cleaning for Covid_df dataframe**

In [ ]:
covid_df = covid_df.drop_duplicates()
covid_df

### Converting into correct date format and then converting date column into Month and Year columns to prepare for machine learning.

In [ ]:
covid_df["date"]= pd.to_datetime(covid_df["date"])

covid_df['month'] = covid_df['date'].dt.month

In [ ]:
covid_df['year'] = covid_df['date'].dt.year
covid_df.head()

### Convert the "Student Count" datatype to Integer and replace NaN values with 0

In [ ]:
covid_df['fips'] = covid_df['fips'].fillna(0).astype(int)
covid_df['deaths'] = covid_df['deaths'].fillna(0).astype(int)
print(covid_df.dtypes)

In [ ]:
covid_df.head()

### Dropping the unwanted Columns

In [ ]:
covid_df = covid_df.drop(['date', 'month'], axis=1)
covid_df.head()

### Resetting the index of the dataframe

In [ ]:
# Reseting index
covid_df = covid_df.reset_index(drop=True)
covid_df

### GroupBy County column and sum cases and deaths

In [ ]:
# Groupby one column and return the sum of only particular columns in the group.
new_covid_df = covid_df.groupby(['county', 'fips', 'state', 'year'], as_index=False).agg(cases_count= ('cases','sum'), deaths_count= ('deaths','sum'))
new_covid_df

### Convert the value of 'county' and 'state' columns to lowercase

In [ ]:
# new_covid_df['county'] = new_covid_df['county'].map(str.lower)
# new_covid_df['state'] = new_covid_df['state'].map(str.lower)

In [ ]:
new_covid_df = new_covid_df.drop_duplicates()
new_covid_df

In [ ]:
#merge DataFrames
covid_fips_df = pd.merge(fips_df, new_covid_df, left_on='fips', right_on='fips')
covid_fips_df

In [ ]:
covid_fips_df = covid_fips_df.drop(['county'], axis=1)
covid_fips_df

In [ ]:
covid_fips_df.describe()

In [ ]:
plt.rcParams["figure.figsize"] = [16,9]
# plotting a scatter plot
print("Scatter Plot:  ")
plt.scatter(covid_fips_df["cases_count"], covid_fips_df["state"])
plt.show()

### Remove special characters from string column

In [ ]:
### Remove special characters from string column
# new_covid_df['county'] = new_covid_df['county'].str.replace('\W', '', regex=True)
# new_covid_df['state'] = new_covid_df['state'].str.replace('\W', '', regex=True)
# new_covid_df['county'].values.tolist()

### Exporting the Covid_df for PostgreSql

In [ ]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
#covid_fips_df.to_csv("posgres_covid_df.csv", encoding="utf-8", index=False)

## **Conclusions**
After exploring your dataset, provide a short summary of what you noticed from this dataset. What would you explore further with more time?